@{ int id = 0; }

<div class="container-fluid" style="padding:0px">
    <div>
        <label style="padding:0px"><small>Actors List</small></label>
        <div style="padding:0px"><small>Sorted by Total Scenes (Importance)</small></div>
        <div style="padding:0px"><small>(*) is for Secondary Role</small></div>
    </div>
    <hr />
    <ul style="padding:10px">
        @foreach (SelectListItem actor in ViewBag.actorsList as SelectList)
        {
            id++;
            string menuId = "A" + id.ToString();
            string secondary = null;
            string actorName = '"' + actor.Text + '"';
            if (actor.Value == "0") { secondary = " *"; }
            <li>
                <a class="actorLbl" id="@menuId" href="javascript:onActorClick(@actor.Value, @actorName, @ViewBag.schedule, '@menuId')" title="appointments">@actor.Text @secondary</a>
            </li>
        }
    </ul>
</div>


