@model IEnumerable<dubbingModel.dubbingAppointment>

<style>
    .divScroll {
    overflow-x:auto;
    height:auto;
    width:100%;
}
</style>

@{ 
    DateTime scheduleStartDate = ViewBag.scheduleStartDate;
}
<div class="container-fluid divScroll" style="padding:0px">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th><small>Std</small></th>
                <th><small>@scheduleStartDate.DayOfWeek</small></th>
                <th><small>@scheduleStartDate.AddDays(1).DayOfWeek</small></th>
                <th><small>@scheduleStartDate.AddDays(2).DayOfWeek</small></th>
                <th><small>@scheduleStartDate.AddDays(3).DayOfWeek</small></th>
                <th><small>@scheduleStartDate.AddDays(4).DayOfWeek</small></th>
                <th><small>@scheduleStartDate.AddDays(5).DayOfWeek</small></th>
                <th><small>@scheduleStartDate.AddDays(6).DayOfWeek</small></th>
            </tr>
        </thead>
        <tbody>
            @{ string[] rec; }
            @foreach(var std in ViewBag.studiosList)
            {
                <tr>
                    <td style="background-color:silver"><label><small>@std.domainCode</small></label></td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach(var item in Model.Where(b => b.appointmentDate == scheduleStartDate && b.studio.studioNo == std.domainCode))
                            {
                                rec = item.actorName.Split('|');
                                <li><label><small>@rec[0]</small></label>&nbsp;<small>@rec[1]</small></li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var item in Model.Where(b => b.appointmentDate == scheduleStartDate.AddDays(1) && b.studio.studioNo == std.domainCode))
                            {
                                rec = item.actorName.Split('|');
                                <li><label><small>@rec[0]</small></label>&nbsp;<small>@rec[1]</small></li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var item in Model.Where(b => b.appointmentDate == scheduleStartDate.AddDays(2) && b.studio.studioNo == std.domainCode))
                            {
                                rec = item.actorName.Split('|');
                                <li><label><small>@rec[0]</small></label>&nbsp;<small>@rec[1]</small></li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var item in Model.Where(b => b.appointmentDate == scheduleStartDate.AddDays(3) && b.studio.studioNo == std.domainCode))
                            {
                                rec = item.actorName.Split('|');
                                <li><label><small>@rec[0]</small></label>&nbsp;<small>@rec[1]</small></li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var item in Model.Where(b => b.appointmentDate == scheduleStartDate.AddDays(4) && b.studio.studioNo == std.domainCode))
                            {
                                rec = item.actorName.Split('|');
                                <li><label><small>@rec[0]</small></label>&nbsp;<small>@rec[1]</small></li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var item in Model.Where(b => b.appointmentDate == scheduleStartDate.AddDays(5) && b.studio.studioNo == std.domainCode))
                            {
                                rec = item.actorName.Split('|');
                                <li><label><small>@rec[0]</small></label>&nbsp;<small>@rec[1]</small></li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var item in Model.Where(b => b.appointmentDate == scheduleStartDate.AddDays(6) && b.studio.studioNo == std.domainCode))
                            {
                                rec = item.actorName.Split('|');
                                <li><label><small>@rec[0]</small></label>&nbsp;<small>@rec[1]</small></li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
