@model IEnumerable<dubbingModel.voiceActor>

<div class="container-fluid" style="padding:0px">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th class="col-sm-3"><label><small>Name</small></label></th>
                <th class="col-sm-6"><label><small>Contacts: Mobile / LandLine / email</small></label></th>
                <th class="col-sm-1"><label><small>Account</small></label></th>
                <th class="col-sm-2 pull-right"><label><small>#</small></label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (dubbingModel.voiceActor item in Model)
            {
                <tr>
                    <td class="col-sm-3" title="@item.othFullName"><small>@item.fullName</small></td>
                    <td class="col-sm-6"><small>@item.mobileNo / @item.landLineNo / @item.email</small></td>
                    <td class="col-sm-1"><small>@item.accountNo</small></td>
                    <td class="col-sm-2">
                        <div class="pull-right">
                            <button class="btn btn-default btn-xs" onclick="onWorkChargesClick(@item.voiceActorIntno)" title="Charges">
                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-primary btn-xs" onclick="onActorsUpdateClick(@item.voiceActorIntno)" title="Modify">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-default btn-xs" onclick="onActorsRemoveClick(@item.voiceActorIntno)" title="Remove">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>       
    </table>
</div>
