@{
    ViewBag.Title = "Casting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron" style="padding:5px">
        <div class="row">
            <div class="col-sm-11">
                <h2>Casting</h2>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-default btn-xs" href="@ViewBag.returnUrl" role="button" title="Back">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <p class="lead"><h5>Define Key Actors in the Dubbing Production,  Main Characters, Voice Actors and Studio Team.</h5></p>
        <label><a href="#" onclick="onCharacterAddNewClick('@ViewBag.workIntno')">Add Character ...</a></label>
    </div>

    <div class="col-sm-8">
        <label>Characters Displayed in Order</label>
        <div class="btn-group pull-right" style="padding-bottom:10px">
            <button class="btn btn-default btn-xs" onclick="onFilterClick(@ViewBag.workIntno)">All</button>&nbsp;
            <button class="btn btn-danger btn-xs" onclick="onFilterClick(@ViewBag.workIntno, '01')">Heros</button>&nbsp;
            <button class="btn btn-success btn-xs" onclick="onFilterClick(@ViewBag.workIntno, '02')">Main</button>&nbsp;
            <button class="btn btn-info btn-xs" onclick="onFilterClick(@ViewBag.workIntno, '03')">Secondary</button>
        </div>
        <br /><br />
        <div id="cList">
            @Html.Action("charactersList", new { id = ViewBag.workIntno })
        </div>
    </div>

    <div class="col-sm-4">
        <div id="allDetails"></div>
        <div id="aDetails"></div>
    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function onFilterClick(work, cType) {
            $('#allDetails').html(null);
            $('#aDetails').html(null);
            $.ajax({
                url: '@Url.Action("charactersList", "casting")',
                data: { id: work, characterType: cType },
                type: 'GET',
                success: function (result) {
                    $('#cList').html(result);
                }
            })
        }

        function onCharacterAddNewClick(work) {
            $.ajax({
                url: '@Url.Action("characterAddNew", "casting")',
                data: { id: work },
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onCharacterUpdateClick(chr) {
            $.ajax({
                url: '@Url.Action("characterUpdate", "casting")',
                data: { id: chr },
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onDismissClick(work) {
            $('#allDetails').html(null);
            $('#aDetails').html(null);
            $.ajax({
                url: '@Url.Action("charactersList", "casting")',
                data: { id: work },
                type: 'GET',
                success: function (result) {
                    $('#cList').html(result);
                }
            })
        }

        function onCastingDetailsClick(wrk, chr) {
            $.ajax({
                url: '@Url.Action("castingDetails", "casting")',
                data: { work: wrk, character: chr },
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onActorAddNewClick(wrk, chr) {
            $.ajax({
                url: '@Url.Action("actorAddNew", "casting")',
                data: { work: wrk, character: chr },
                type: 'GET',
                success: function (result) {
                    $('#aDetails').html(result);
                }
            })
        }
        function onActorUpdateClick(wrk, chr) {
            $.ajax({
                url: '@Url.Action("actorUpdate", "casting")',
                data: { work: wrk, character: chr },
                type: 'GET',
                success: function (result) {
                    $('#aDetails').html(result);
                }
            })
        }
    </script>
}