@{
    ViewBag.Title = "Casting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron" style="padding:5px">
        <div class="row">
            <div class="col-sm-4">
                <h2>Characters &amp; Casting</h2>
                <p><a href="#" class="btn btn-primary btn-xs" onclick="onCharacterAddNewClick('@ViewBag.workIntno')">Add New Character &raquo;</a></p>
            </div>
            <div class="col-sm-4">
                <label style="padding-top:30px">@ViewBag.workName</label>
            </div>
            <div class="col-sm-4" style="padding-top:30px">
                <a class="btn btn-default btn-xs pull-right" href="@ViewBag.returnUrl" role="button" title="Back">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row" style="padding-bottom:10px">
        <div class="col-sm-4">
            <label>Characters Displayed in Order</label>
        </div>
        <div class="col-sm-4" style="padding:0px">
            <div class="btn-group pull-right">
                <button class="btn btn-default btn-xs" onclick="onFilterClick(@ViewBag.workIntno)">All</button>&nbsp;
                <button class="btn btn-primary btn-xs" onclick="onFilterClick(@ViewBag.workIntno, '01')">Heros</button>&nbsp;
                <button class="btn btn-info btn-xs" onclick="onFilterClick(@ViewBag.workIntno, '02')">Main</button>&nbsp;
                <button class="btn btn-default btn-xs" onclick="onFilterClick(@ViewBag.workIntno, '03')">Secondary</button>
                <button class="btn btn-warning btn-xs" onclick="onFilterClick(@ViewBag.workIntno, '04')">New</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" id="cList">
            @Html.Action("charactersList", new { id = ViewBag.workIntno })
        </div>

        <div class="col-sm-4">
            <div id="allDetails"></div>
            <div id="aDetails"></div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/dubbing/busySpinner.js"></script>

    <script>
        //global ajax callback events handlers
        // to exclude specific ajax call write: "global: false," in the begining of ajax function
        $(document).ajaxStart(function () {
            ajaxIndicatorStart('loading data.. please wait..');
        }).ajaxComplete(function () {
            ajaxIndicatorStop();
        });

        function onFilterClick(work, cType) {
            $('#allDetails').html(null);
            $('#aDetails').html(null);
            $.ajax({
                url: '@Url.Action("charactersList", "casting")',
                data: { id: work, characterType: cType },
                type: 'GET',
                success: function (result) {
                    $('#cList').html(result);
                }
            })
        }

        function onCharacterAddNewClick(work) {
            $.ajax({
                url: '@Url.Action("characterAddNew", "casting")',
                data: { id: work },
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onCharacterUpdateClick(chr) {
            $.ajax({
                url: '@Url.Action("characterUpdate", "casting")',
                data: { id: chr },
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onSuccess(ajaxContext) {
            $('#formResult').html('Successfully Added / Updated.');
            $('#cList').html(ajaxContext);
        }
        function onCloseClick() {
            $('#allDetails').html(null);
            $('#aDetails').html(null);
        }

        function onCastingDetailsClick(wrk, chr) {
            $.ajax({
                url: '@Url.Action("castingDetails", "casting")',
                data: { work: wrk, character: chr },
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onActorAddNewClick(wrk, chr) {
            $.ajax({
                url: '@Url.Action("actorAddNew", "casting")',
                data: { work: wrk, character: chr },
                type: 'GET',
                success: function (result) {
                    $('#aDetails').html(result);
                }
            })
        }
        function onActorUpdateClick(wrk, chr) {
            $.ajax({
                url: '@Url.Action("actorUpdate", "casting")',
                data: { work: wrk, character: chr },
                type: 'GET',
                success: function (result) {
                    $('#aDetails').html(result);
                }
            })
        }
    </script>
}