@model IEnumerable<dubbingModel.adaptationDialog>
@{ int i = 0; }

<div class="container-fluid panel-group" style="padding:0px">
    @foreach(var dialog in Model)
    {
        i++;
        string panelId = i.ToString();
        <div class="panel panel-default sceneDialog" id="@panelId">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-xs pull-left btnAction" onclick="onActionClick('@panelId')" title="Start">
                            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-sm-8" style="text-align:center">
                        <label>@ViewBag.character</label>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <h5 class="badge">@dialog.startTimeCode</h5>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                @Html.Action("subtitlesList", new { dialogue = @dialog.dialogIntno })
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-xs pull-left" onclick="onTakenClick('@panelId', @dialog.dialogIntno)" title="Taken">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2 pull-right">
                        <h5 class="badge">@dialog.endTimeCode</h5>
                    </div>
                    
                </div>
            </div>
        </div>
    }
</div>
