@model IEnumerable<dubbingModel.subtitle>
@using dubbingApp.Utils;

<style>
    .current{
        background-color: silver;
    }
    .others{
        background-color: white;
    }
</style>
@{ long sheetHdr = ViewBag.sheetHdr; string color; }

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4"><label class="pull-left">Subtitles</label></div>
            <div class="col-sm-8"><label class="pull-right">@ViewBag.actorName</label></div>
        </div>
    </div>
    <div class="panel-body" style="padding:0px" dir="rtl">
        <table class="table table-condensed" style="padding:2px">
            <tbody>
                @foreach (var str in Model)
                {
                    if (str.dubbSheetHdrIntno == sheetHdr) {
                        color = "current";
                    } else {
                        color = "others";
                    }
                    
                    <tr class="@color">
                        <td><label class="badge">@str.startTimeCode</label></td>
                        <td><label>@str.dubbingSheetHdr.characterName:</label></td>
                        <td class="scentence">@str.scentence</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
