
@using dubbingModel
@model IEnumerable<tagTemplateHdr>

@foreach (var hdr in Model)
{
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">@hdr.Title</div>
            <div class="panel-body">@hdr.Description</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tag</th>
                        <th>Min Score</th>
                        <th>Weight</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input id="newTagName_@hdr.tagTemplateHdrIntno" class="form-control tag" />
                        </td>
                        <td>
                            <input type="range" min="1" max="4" id="newMinScore_@hdr.tagTemplateHdrIntno" class="form-control" />
                        </td>
                        <td>
                            <input type="range" min="1" max="3" id="newWeight_@hdr.tagTemplateHdrIntno" class="form-control" />
                        </td>
                        <td>
                            <a class="btn btn-sm" data-id="@hdr.tagTemplateHdrIntno" href="javascript:saveTempDtl(@hdr.tagTemplateHdrIntno);"><span class="glyphicon glyphicon-plus">&nbsp;</span></a>
                        </td>
                    </tr>
                    @foreach(var t in hdr.tagTemplateDtls)
                    {
                        <tr>
                            <td><input class="form-control tag" value="@t.tag.Name" /></td>
                            <td><input  type="range" min="1" max="4" class="form-control"  value="@t.MinScore" /></td>
                            <td><input type="range" min="1" max="3" class="form-control"  value="@t.Weight" /></td>
                            <td>
                                <a class="btn btn-sm" data-id="@hdr.tagTemplateHdrIntno" href="javascript:deleteTempDtl(@t.tagTemplateDtlIntno);"><span class="glyphicon glyphicon-trash">&nbsp;</span></a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
}