@model IEnumerable<dubbingApp.Models.ViewModels.castingListViewModel>

<div class="container-fluid" style="padding:0px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-1">
                    <button class="btn btn-default btn-xs pull-left" onclick="onRefreshCastClick(@ViewBag.orderItem)" title="Refresh Cast">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-sm-9">
                    <label>Casting For: &nbsp; @ViewBag.workEpisode</label>
                </div>
                
                <div class="col-sm-2">
                    <button class="btn btn-default btn-xs pull-right" onclick="onScheduleClick(@ViewBag.orderItem)" title="Generate Schedule">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default btn-xs pull-right" onclick="onDischargeClick(@ViewBag.orderItem)" title="Download Discharging Table">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><small>#</small></th>
                        <th><small>Character</small></th>
                        <th><small>Total Scenes</small></th>
                        <th><small>Cast</small></th>
                        <th><small>?</small></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            string rowColor = null;
                            if(item.voiceActorIntno == 0 && item.actorName == "ANONYMOUS")
                            {
                                rowColor = "bg-danger";
                            }
                            <tr class="@rowColor">
                                <td>
                                    @{
                                        if (item.isEndorsed)
                                        {
                                            <button type="button" class="btn btn-success btn-xs pull-left" disabled title="Endorsed">
                                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-default btn-xs pull-left" onclick="onEndorseClick(@item.orderTrnHdrIntno, @item.dubbSheetHdrIntno, '@item.actorName')" title="Endorse Dubbing">
                                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                            </button>
                                        }
                                    }
                                </td>
                                <td><small>@item.characterName</small></td>
                                <td><small>@item.totalScenes</small></td>
                                <td><small>@item.actorName</small></td>
                                <td>
                                    @{
                                        if (item.voiceActorIntno == 0 && !item.isEndorsed)
                                        {
                                            <button type="button" class="btn btn-default btn-xs pull-left" data-toggle="modal" data-target="#popupForm" onclick="onCastClick(@item.dubbSheetHdrIntno)" title="Cast">
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                            </button>
                                        }
                                    }
                                </td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
