
@{
    ViewBag.Title = "Casting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron hidden-print" style="padding:5px">
        <h2>Discharging</h2>
        <p class="lead"><h5>Review and Enhance the System Provided Casting where New or Secondary Characters are Casted Anonymously. Casting will be required to be completed prior to Generating Discharging Tables and Dubbing Calendars.</h5></p>
    </div>
    
    <div class="row" id="dischargeTable"></div>

    <div class="row">
        <div class="col-sm-3" id="episodesList">
            @Html.Action("episodesList", "discharging")
        </div>
        <div class="col-sm-9" id="castingList">
            
        </div>
    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function onEpisodeSelectClick(oi) {
            $('.episodeLbl').removeClass('badge');
            $('#' + oi).addClass('badge');

            $.ajax({
                url: '@Url.Action("castingList", "discharging")',
                type: 'GET',
                data: { orderItem: oi },
                success: function (result) {
                    $('#castingList').html(result);
                }
            });
        }

        function onSuccess(oi) {
            $.ajax({
                url: '@Url.Action("castingList", "discharging")',
                type: 'GET',
                data: { orderItem: oi },
                success: function (result) {
                    $('#castingList').html(result);
                }
            });
        }

        function onRefreshCastClick(oi) {
            $.ajax({
                url: '@Url.Action("refreshCast", "discharging")',
                type: 'GET',
                data: { orderItem: oi },
                success: function (result) {
                    $('#castingList').html(result);
                    alert("Anonymous Cast Was Updated Successfully with the latest Contracted Actors List.")
                }
            });
        }

        function onEndorseClick(oi, sheetHdr1, actorName) {
            if (actorName === "ANONYMOUS")
            {
                alert('You cannot endorse before casting the character!');
            }
            else
            {
                if (confirm("Please Confirm! About to Manually Endorse Dubbing of ALL Scenes for the selected Actor.")) {
                    $.ajax({
                        url: '@Url.Action("endorseDubbing", "discharging")',
                        type: 'GET',
                        data: { sheetHdr: sheetHdr1 },
                        success: function (result) {
                            $.ajax({
                                url: '@Url.Action("castingList", "discharging")',
                                type: 'GET',
                                data: { orderItem: oi },
                                success: function (result) {
                                    $('#castingList').html(result);
                                }
                            });
                            alert(result);
                        }
                    });
                }
            }
        }

        function onDischargeClick(orderItem1) {
            $.ajax({
                url: '@Url.Action("exportDischargingTable", "discharging")',
                type: 'GET',
                data: { orderItem: orderItem1 },
                success: function (result) {
                    $('#dischargeTable').html(result);
                    $('#castingList').hide();
                    $('#episodesList').hide();
                    $('#dischargeTable').show();
                }
            });
        }

        function onCloseClick() {
            $('#dischargeTable').html(null);
            $('#dischargeTable').hide();
            $('#castingList').show();
            $('#episodesList').show();

        }
    </script>
}
