
@{
    ViewBag.Title = "Casting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron" style="padding:5px">
        <h2>Casting</h2>
        <p class="lead"><h5>Review and Enhance the System Provided Casting. New or Secondary Characters are Casted Anonymously which Shall Require Providing Actors, and that is prior to Generating Dubbing Calendar.</h5></p>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.Action("episodesList", "discharging")
        </div>
        <div class="col-sm-9" id="episodesList">
            
        </div>
    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function onEpisodeSelectClick(oi) {
            $('.episodeLbl').removeClass('badge');
            $('#' + oi).addClass('badge');

            $.ajax({
                url: '@Url.Action("castingList", "discharging")',
                type: 'GET',
                data: { orderItem: oi },
                success: function (result) {
                    $('#episodesList').html(result);
                }
            });
        }

        function onSuccess(oi) {
            $.ajax({
                url: '@Url.Action("castingList", "discharging")',
                type: 'GET',
                data: { orderItem: oi },
                success: function (result) {
                    $('#episodesList').html(result);
                }
            });
        }

        function onGenerateCalendarClick(oi) {
            $.ajax({
                url: '@Url.Action("generateCalendar", "discharging")',
                type: 'GET',
                data: { orderItem: oi },
                success: function (result) {
                    alert(result);
                    $('#calendarBtn').removeClass('btn-default').addClass('btn-success');
                },
                failure: function (result) {
                    alert(result);
                }
            });
        }

    </script>
}
