@model IEnumerable<dubbingModel.orderTrnDtl>

<div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapse-heading-one">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                    <small><label>Translation &amp; Adaptation</label></small>
                </a>
            </h4>
        </div>
        <div id="collapse-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-heading-one">
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-3"><small>Editor</small></th>
                            <th class="col-sm-5"><small>Work</small></th>
                            <th class="col-sm-1"><small>Episode</small></th>
                            <th class="col-sm-1"><small>Assigned</small></th>
                            <th class="col-sm-1"><small>Due</small></th>
                            <th class="col-sm-1"><small>#</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var emp in Model.Where(b => b.employee.empType == "02").Select(b => new { b.empIntno, b.employee.fullName }).Distinct())
                        {
                            var x = Model.Where(b => b.employee.empType == "02" && b.empIntno == emp.empIntno);
                            int cnt = x.Count() + 1;
                            <tr>
                                <td rowspan="@cnt" class="col-sm-3"><small>@emp.fullName</small></td>
                            </tr>
                            foreach (var task in x)
                            {
                                string assigned = @task.assignedDate.HasValue ? @task.assignedDate.Value.ToString("dd/MM") : null;
                                string due = @task.forDueDate.HasValue ? @task.forDueDate.Value.ToString("dd/MM") : null;
                                <tr>
                                    <td class="col-sm-5"><small>@task.orderTrnHdr.agreementWork.workName</small></td>
                                    <td class="col-sm-1"><small>@task.orderTrnHdr.episodeNo</small></td>
                                    <td class="col-sm-1"><small>@assigned</small></td>
                                    <td class="col-sm-1"><small>@due</small></td>
                                    <td class="col-sm-1">
                                        <button class="btn btn-default btn-xs pull-right" onclick="onAssignDeleteClick(@task.orderTrnDtlIntno)" title="Delete">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-default btn-xs pull-right" onclick="onAssignEditClick(@task.orderTrnDtlIntno)" title="Edit">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapse-heading-two">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                    <small><label>Translation</label></small>
                </a>
            </h4>
        </div>
        <div id="collapse-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-two">
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-3"><small>Translator</small></th>
                            <th class="col-sm-5"><small>Work</small></th>
                            <th class="col-sm-1"><small>Episode</small></th>
                            <th class="col-sm-1"><small>Assigned</small></th>
                            <th class="col-sm-1"><small>Due</small></th>
                            <th class="col-sm-1"><small>#</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var emp in Model.Where(b => b.employee.empType == "03").Select(b => new { b.empIntno, b.employee.fullName }).Distinct())
                        {
                            var x = Model.Where(b => b.employee.empType == "03" && b.empIntno == emp.empIntno);
                            int cnt = x.Count() + 1;
                            <tr>
                                <td rowspan="@cnt" class="col-sm-3"><small>@emp.fullName</small></td>
                            </tr>
                            foreach (var task in x)
                            {
                                string assigned = @task.assignedDate.HasValue ? @task.assignedDate.Value.ToString("dd/MM") : null;
                                string due = @task.forDueDate.HasValue ? @task.forDueDate.Value.ToString("dd/MM") : null;
                                <tr>
                                    <td class="col-sm-5"><small>@task.orderTrnHdr.agreementWork.workName</small></td>
                                    <td class="col-sm-1"><small>@task.orderTrnHdr.episodeNo</small></td>
                                    <td class="col-sm-1"><small>@assigned</small></td>
                                    <td class="col-sm-1"><small>@due</small></td>
                                    <td class="col-sm-1">
                                        <button class="btn btn-default btn-xs pull-right" onclick="onAssignDeleteClick(@task.orderTrnDtlIntno)" title="Delete">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-default btn-xs pull-right" onclick="onAssignEditClick(@task.orderTrnDtlIntno)" title="Edit">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapse-heading-three">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
                    <small><label>Adaptation</label></small>
                </a>
            </h4>
        </div>
        <div id="collapse-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-three">
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-3"><small>Editor</small></th>
                            <th class="col-sm-5"><small>Work</small></th>
                            <th class="col-sm-1"><small>Episode</small></th>
                            <th class="col-sm-1"><small>Assigned</small></th>
                            <th class="col-sm-1"><small>Due</small></th>
                            <th class="col-sm-1"><small>#</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var emp in Model.Where(b => b.employee.empType == "04").Select(b => new { b.empIntno, b.employee.fullName }).Distinct())
                        {
                            var x = Model.Where(b => b.employee.empType == "04" && b.empIntno == emp.empIntno);
                            int cnt = x.Count() + 1;
                            <tr>
                                <td rowspan="@cnt" class="col-sm-3"><small>@emp.fullName</small></td>
                            </tr>
                            foreach (var task in x)
                            {
                                string assigned = @task.assignedDate.HasValue ? @task.assignedDate.Value.ToString("dd/MM") : null;
                                string due = @task.forDueDate.HasValue ? @task.forDueDate.Value.ToString("dd/MM") : null;
                                <tr>
                                    <td class="col-sm-5"><small>@task.orderTrnHdr.agreementWork.workName</small></td>
                                    <td class="col-sm-1"><small>@task.orderTrnHdr.episodeNo</small></td>
                                    <td class="col-sm-1"><small>@assigned</small></td>
                                    <td class="col-sm-1"><small>@due</small></td>
                                    <td class="col-sm-1">
                                        <button class="btn btn-default btn-xs pull-right" onclick="onAssignDeleteClick(@task.orderTrnDtlIntno)" title="Delete">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-default btn-xs pull-right" onclick="onAssignEditClick(@task.orderTrnDtlIntno)" title="Edit">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapse-heading-three">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-four" aria-expanded="false" aria-controls="collapse-four">
                    <small><label>Dubbing</label></small>
                </a>
            </h4>
        </div>
        <div id="collapse-four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-four">
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-3"><small>Supervisor</small></th>
                            <th class="col-sm-5"><small>Work</small></th>
                            <th class="col-sm-1"><small>Episode</small></th>
                            <th class="col-sm-1"><small>Assigned</small></th>
                            <th class="col-sm-1"><small>Due</small></th>
                            <th class="col-sm-1"><small>#</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var emp in Model.Where(b => b.employee.empType == "01").Select(b => new { b.empIntno, b.employee.fullName }).Distinct())
                        {
                            var x = Model.Where(b => b.employee.empType == "01" && b.empIntno == emp.empIntno);
                            int cnt = x.Count() + 1;
                            <tr>
                                <td rowspan="@cnt" class="col-sm-3"><small>@emp.fullName</small></td>
                            </tr>
                            foreach (var task in x)
                            {
                                string assigned = @task.assignedDate.HasValue ? @task.assignedDate.Value.ToString("dd/MM") : null;
                                string due = @task.forDueDate.HasValue ? @task.forDueDate.Value.ToString("dd/MM") : null;
                                <tr>
                                    <td class="col-sm-5"><small>@task.orderTrnHdr.agreementWork.workName</small></td>
                                    <td class="col-sm-1"><small>@task.orderTrnHdr.episodeNo</small></td>
                                    <td class="col-sm-1"><small>@assigned</small></td>
                                    <td class="col-sm-1"><small>@due</small></td>
                                    <td class="col-sm-1">
                                        <button class="btn btn-default btn-xs pull-right" onclick="onAssignDeleteClick(@task.orderTrnDtlIntno)" title="Delete">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-default btn-xs pull-right" onclick="onAssignEditClick(@task.orderTrnDtlIntno)" title="Edit">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

