
@{
    ViewBag.Title = "Work Load";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron" style="padding:5px">
        <h2>Assignments Work Load</h2>
        <p class="lead"><h5>Manage and Balance Translation and Adaptation tasks assignments.</h5></p>
        <label><a href="#" onclick="onAssignmentAddNewClick()">Assign New Task ...</a></label>
    </div>
    <input type="hidden" id="activePanelHF" />

    <div class="col-sm-5" id="assignmentsList" style="padding:0px">
        @Html.Action("assignmentsList")
    </div>

    <div class="col-sm-4" style="padding:0px">
        <div id="resourceAssignmentsList"></div>
        <div id="waitingList">
            @Html.Action("waitingList")
        </div>
    </div>

    <div class="col-sm-3" id="allDetails" style="padding:0px"></div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/dubbing/busySpinner.js"></script>

    <script>
        //global ajax callback events handlers
        // to exclude specific ajax call write: "global: false," in the begining of ajax function
        $(document).ajaxStart(function() {
            ajaxIndicatorStart('loading data.. please wait..');
        }).ajaxComplete(function() {
            ajaxIndicatorStop();
        });

        function onEpisodeChange() {
            if ($('#ep1').val() === $('#ep2').val()) {
                $('#isPartialEpisode').removeClass('hidden');
            }
            else {
                $('#isPartialEpisode').removeClass('hidden').addClass('hidden');
            }
        }

        function onActivitiesComboChanged() {
            $("#resourcesCombo").empty();
            $("#resourcesCombo").append('<option value="">Select Resource ...</option>');
            if ($('#activitiesCombo').val() !== "" && $('#worksCombo').val() !== "") {
                $.ajax({
                    url: '@Url.Action("activityTypeChanged", "workLoad")',
                    type: 'POST',
                    data: { activityType: $('#activitiesCombo').val(), workIntno: $('#worksCombo').val() },
                    dataType: 'json',
                    success: function (resources) {
                        $.each(resources, function (i, item) {
                            if (i === 0) {
                                $("#resourcesCombo").append('<option selected value="' + item.Value + '">' +
                                item.Text + '</option>');
                            }
                            else {
                                $("#resourcesCombo").append('<option value="' + item.Value + '">' +
                                item.Text + '</option>');
                            }
                        });
                    }
                })
            }
        }

        function onCloseClick() {
            $('#allDetails').html(null);
        }
        function onResourceCloseClick() {
            $('#resourceAssignmentsList').html(null);
        }
        function onSuccess() {
            $.ajax({
                url: '@Url.Action("assignmentsList", "workLoad")',
                type: 'GET',
                success: function (result) {
                    $('#assignmentsList').html(result);
                    $('#collapse-one').removeClass('in');
                    $('#collapse-one').addClass('collapse');
                    var p = $('#activePanelHF').val();
                    $('#' + p).addClass('in');
                    $('#' + p).removeClass('collapse');
                }
            })
        }
        function onUpdateSuccess() {
            onSuccess();
            $('#updateFormResult').html('Successfully Updated.');
        }

        function onAssignmentAddNewClick() {
            $.ajax({
                url: '@Url.Action("assignmentAddNew", "workLoad")',
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onAssignEditClick(id1) {
            $.ajax({
                url: '@Url.Action("assignmentUpdate", "workLoad")',
                type: 'GET',
                data: { id: id1 },
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onAssignDeleteClick(id1) {
            if (confirm("Please Confirm! About to Permenantly Delete Assignment.")) {
                $.ajax({
                    url: '@Url.Action("assignmentDelete", "workLoad")',
                    type: 'GET',
                    data: { id: id1 },
                    success: function (result) {
                        $('#assignmentsList').html(result);
                    }
                })
            }
        }

        function onTaskSelectClick(empIntno1, empName1, workIntno1, workName1) {
            $.ajax({
                url: '@Url.Action("resourceAssignmentsList", "workLoad")',
                type: 'GET',
                data: { empIntno: empIntno1, empName: empName1, workIntno: workIntno1, workName: workName1 },
                success: function (result) {
                    $('#resourceAssignmentsList').html(result);
                }
            })
        }

        function onActivityClick(act, panelId) {
            $('#resourceAssignmentsList').html(null);
            $('#allDetails').html(null);
            $.ajax({
                url: '@Url.Action("waitingList", "workLoad")',
                type: 'GET',
                data: { activityType: act },
                success: function (result) {
                    $('#waitingList').html(result);
                }
            });
            $('#activePanelHF').val(panelId);
        }
    </script>
}
