@using dubbingModel
@model IEnumerable<orderTrnDtl>

@if(ViewBag.Status)
{

<table class="table">
    <thead>
        <tr>
            <th>Work</th>
            <th>Episode</th>
            <th>Assigned To</th>
            <th>Adaptation Start</th>
            <th>From</th>
            <th>To</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><small>@item.orderTrnHdr.agreementWork.workName</small></td>
                <td><small>@item.orderTrnHdr.episodeNo</small></td>
                <td><small>@item.employee.fullName</small></td>
                <td><small>@string.Format("{0:d}", item.assignedDate)</small></td>
                <td><small>@item.fromTimeCode</small></td>
                <td><small>@item.thruTimeCode</small></td>
                <td><a class="btn btn-sm btn-primary" href='@Url.Action("Edit2", "adaptation", new { id = item.orderTrnHdrIntno, fromTime = item.fromTimeCode, toTime = item.thruTimeCode})'>Edit</a></td>
                <td><a class="btn btn-sm btn-primary" href='@Url.Action("EditScenesAndDialogs", "adaptation", new { orderTrnHdrIntno = item.orderTrnHdrIntno})'>Modify</a></td>
                <td><a class="btn btn-sm btn-success" href='#' onclick="onCompleteAdaptation(@item.orderTrnDtlIntno)">Complete Work</a></td>
                <td><a class="btn btn-sm btn-primary" href='@Url.Action("downloadFile", new { item.orderTrnHdrIntno })'>Download SRT</a></td>
                <td><a class="btn btn-sm btn-primary" href='@Url.Action("downloadTemplateFile", new { item.orderTrnHdrIntno })'>Download Template</a></td>
                <td><a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#importModal" data-order="@item.orderTrnHdrIntno">Import</a></td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Work</th>
                <th>Episode</th>
                <th>Assigned To</th>
                <th>Adaptation Start</th>
                <th>Adaptation End</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><small>@item.orderTrnHdr.agreementWork.workName</small></td>
                    <td><small>@item.orderTrnHdr.episodeNo</small></td>
                    <td><small>@item.employee.fullName</small></td>
                    <td><small>@string.Format("{0:d}", item.orderTrnHdr.startAdaptation)</small></td>
                    <td><small>@string.Format("{0:d}", item.orderTrnHdr.endAdaptation)</small></td>
                    @if (User.IsInRole("ADMIN") || User.IsInRole("GENERAL_MANAGER") || User.IsInRole("STUDIO_SUPERVISOR"))
                    {
                        <td><a class="btn btn-sm btn-primary" href='@Url.Action("Edit2", "adaptation", new { id = item.orderTrnHdrIntno, fromTime = item.fromTimeCode, toTime = item.thruTimeCode})'>Edit</a></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td><a class="btn btn-sm btn-success" href='@Url.Action("downloadFile", new { item.orderTrnHdrIntno })'>Subtitles</a></td>
                </tr>
            }
        </tbody>
    </table>

}

<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importModal-label">Import Adaptation File</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/adaptation/ImportFile" enctype="multipart/form-data">
                    <input type="file" id="importFileName" name="importFileName" />
                    <br />
                    @Html.Hidden("order")
                    <button type="submit" class="btn btn-primary">Import File</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>