@using dubbingModel
@model IEnumerable<adaptationDialog>

<div id="dialogList">

    @foreach (var dialog in Model)
    {

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div data-id="@dialog.dialogIntno" class="panel-heading dialog">
                <div class="right">
                    <span class="pull-right">
                        <a href="javascript:addDialog();"><span class="glyphicon glyphicon-plus"></span></a>
                        &nbsp;
                    </span>
                    <span>@dialog.dialogNo&nbsp;-&nbsp; </span>
                    @dialog.dubbingSheetHdr.characterName
                    <span class="pull-left">
                        <a href="javascript:deleteDialog(@dialog.dialogIntno);"><span class="glyphicon glyphicon-remove"></span></a>
                    </span>
                </div>
            </div>

            <div id="subtitleListContainer_@dialog.dialogIntno">
                @Html.Action("subtitleList", "adaptation", new { dialogIntno = dialog.dialogIntno })
            </div>
        </div>

    }

</div>