@using dubbingModel
@model IEnumerable<adaptationDialog>

<div id="dialogList">

    @foreach (var dialog in Model)
    {

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div data-id="@dialog.dialogIntno" class="panel-heading dialog">
                <div class="right">
                    <span class="pull-right">
                        <a href="javascript:addDialog();"><span class="glyphicon glyphicon-plus"></span></a>
                        &nbsp;
                    </span>
                    <span class="badge">@dialog.dialogNo</span>
                    &nbsp;
                    <span id="charNameContainer_@dialog.dialogIntno" class="dialog-character" data-charname="@dialog.dubbingSheetHdr.characterName" data-dialog="@dialog.dialogIntno" data-id="@dialog.dubbingSheetHdr.workCharacterIntno">
                        <a href="javascript: editCharacterName(@dialog.dialogIntno);">@dialog.dubbingSheetHdr.characterName</a>
                    </span>
                    <span class="pull-left">
                        <a href="javascript:deleteDialog(@dialog.dialogIntno);"><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
                </div>
            </div>

            <div id="subtitleListContainer_@dialog.dialogIntno">
                @Html.Action("subtitleList", "adaptation", new { dialogIntno = dialog.dialogIntno })
            </div>
        </div>

    }

</div>