@using dubbingModel
@model IEnumerable<adaptationSubtitle>

<!-- Table -->
<table class="table table-bordered">
    <tbody>
        @foreach (var subtitle in Model)
        {
            <tr data-id="@subtitle.subtitleIntno">
                <td style="width:2em;">
                    <a href="javascript: deleteSubtitle(@subtitle.subtitleIntno , @subtitle.dialogIntno);"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
                <td style="width:6em;">@subtitle.startTime</td>
                <td style="width:6em;">@subtitle.endTime</td>
                <td>
                    <div id="subtitleContainer_@subtitle.subtitleIntno" data-subtitle="@subtitle.subtitleIntno" data-no="@subtitle.subtitleNo"  class="right">
                        <span class="scentence" onclick="javascript: editSubtitle(@subtitle.subtitleIntno);">@subtitle.scentence</span>
                    </div>
                </td>
                <td  style="width: 3em; text-align:center;">
                    @subtitle.subtitleNo
                </td>
                <td style="width:2em;">
                    <span class="pull-right"><a href="javascript: addSubtitle(@subtitle.dialogIntno);"><span class="glyphicon glyphicon-plus"></span></a></span>
                </td>
            </tr>
        }

    </tbody>
</table>
