@using dubbingModel
@model IEnumerable<orderTrnDtl>

@{

    ViewBag.Title = "Index";
}


<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Work</th>
            <th>Episode</th>
            <th>Assigned To</th>
            <th>Adaptation Start</th>
            <th>From</th>
            <th>To</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.orderTrnHdr.agreementWork.workName</td>
            <td>@item.orderTrnHdr.episodeNo</td>
            <td>@item.employee.fullName</td>
            <td>@item.assignedDate.Value??.ToShortDateString()</td>
            <td>@item.fromTimeCode</td>
            <td>@item.thruTimeCode</td>
            <td><a class="btn btn-primary" href='@Url.Action("Edit2", "adaptation", new { id = item.orderTrnHdrIntno, fromTime = item.fromTimeCode, toTime = item.thruTimeCode})'>Edit</a></td>
            <td><a class="btn btn-success" href='@Url.Action("CompleteAdaptation", "adaptation", new { id = item.orderTrnHdrIntno})'>Complete Work</a></td>
        </tr>
        }
    </tbody>
</table>