@using dubbingModel
@model IEnumerable<orderTrnHdr>

@{

    ViewBag.Title = "Index";
}


<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Work</th>
            <th>Episode</th>
            <th>Adaptation Start</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.agreementWork.workName</td>
            <td>@item.episodeNo</td>
            <td>@item.startAdaptation.Value.ToShortDateString()</td>
            <td><a class="btn btn-primary" href='@Url.Action("Edit2", "adaptation", new { id = item.orderTrnHdrIntno})'>Edit</a></td>
            <td><a class="btn btn-success" href='@Url.Action("CompleteAdaptation", "adaptation", new { id = item.orderTrnHdrIntno})'>Complete Work</a></td>
        </tr>
        }
    </tbody>
</table>