@model IEnumerable<dubbingModel.employee>
@using dubbingApp.Models;

<div class="container-fluid">
    <div class="jumbotron" style="padding:10px">
        <button class="btn btn-success btn-xs" onclick="onActiveClick(true)" title="Active">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default btn-xs" onclick="onActiveClick(false)" title="Archive">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        </button>
        <label>Personnel List Grouped By Category</label> &nbsp;
    </div>
    @Html.Hidden("status")
    @foreach (SelectListItem empType in new SelectList(ViewBag.empTypesList, "key", "value"))
    {
        <div class="panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        <label>@empType.Text</label>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-xs pull-right" onclick="onPersonnelAddNewClick('@empType.Value')" title="Create New">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-3"><label><small>Name</small></label></th>
                            <th class="col-sm-2"><label><small>Mobile</small></label></th>
                            <th class="col-sm-2"><label><small>LandLine</small></label></th>
                            <th class="col-sm-2"><label><small>email</small></label></th>
                            <th class="col-sm-1"><label><small>Account</small></label></th>
                            <th class="col-sm-2 pull-right"><label><small>#</small></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (dubbingModel.employee item in Model.Where(b => b.empType == @empType.Value))
                        {
                            <tr>
                                <td class="col-sm-3" title="@item.othFullName"><small>@item.fullName (@item.empUID)</small></td>
                                <td class="col-sm-2"><small>@item.mobileNo</small></td>
                                <td class="col-sm-2"><small>@item.landLineNo</small></td>
                                <td class="col-sm-2"><small>@item.email</small></td>
                                <td class="col-sm-1"><small>@item.accountNo</small></td>
                                <td class="col-sm-2">
                                    <div class="pull-right">
                                        @{
                                            string btnColor = "btn-default";
                                            var workChrg = LookupModels.isPartyHasCharges(item.empIntno, "02");
                                            if (workChrg != "03")
                                            {
                                                if(workChrg == "02")
                                                {
                                                    btnColor = "btn-warning";
                                                }
                                                <button class="btn @btnColor btn-xs" onclick="onWorkChargesClick(@item.empIntno)" title="Charges">
                                                    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                                                </button>
                                            }
                                        }
                                        <button class="btn btn-primary btn-xs" onclick="onPersonnelUpdateClick(@item.empIntno)" title="Modify">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-default btn-xs" onclick="onPersonnelRemoveClick(@item.empIntno)" title="Remove">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>       
                </table>
            </div>
        </div>
    }
</div>
