@model IEnumerable<dubbingModel.employee>

<div class="container-fluid" style="padding:0px">
    @Html.Hidden("status")
    @foreach (SelectListItem empType in new SelectList(ViewBag.empTypesList, "key", "value"))
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        <label>@empType.Text</label>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-xs pull-right" onclick="onPersonnelAddNewClick('@empType.Value')" title="Create New">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-3"><label><small>Name</small></label></th>
                            <th class="col-sm-6"><label><small>Contacts: Mobile / LandLine / email</small></label></th>
                            <th class="col-sm-1"><label><small>Account</small></label></th>
                            <th class="col-sm-2 pull-right"><label><small>#</small></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (dubbingModel.employee item in Model.Where(b => b.empType == @empType.Value))
                        {
                            string uid = null;
                            if(!string.IsNullOrEmpty(item.empUID)) { uid = "(" + item.empUID + ")"; }
                            <tr>
                                <td class="col-sm-3" title="@item.othFullName"><small>@item.fullName @uid</small></td>
                                <td class="col-sm-6"><small>@item.mobileNo / @item.landLineNo / @item.email</small></td>
                                <td class="col-sm-1"><small>@item.accountNo</small></td>
                                <td class="col-sm-2">
                                    <div class="pull-right">
                                        <button class="btn btn-default btn-xs" onclick="onWorkChargesClick(@item.empIntno)" title="Charges">
                                            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-info btn-xs" onclick="onPersonnelUpdateClick(@item.empIntno)" title="Modify">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-default btn-xs" onclick="onPersonnelRemoveClick(@item.empIntno)" title="Remove">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>       
                </table>
            </div>
        </div>
    }
</div>
