@model dubbingModel.orderTrnDtl

<p><small>Describe Added Music &amp; Effects</small></p>
@using (Ajax.BeginForm("musicEffectsAddNew", "assembly", new { episode = ViewBag.episode },
                                    new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "formResult"
                                    }
                                    ))
{
    @Html.AntiForgeryToken()

    <div class="form-group-sm">
        <small>@Html.LabelFor(model => model.assignedDate, "Date", htmlAttributes: new { @class = "control-label" })</small>
        <div>
            <input type="date" name="trnDate" class="form-control" />
        </div>
    </div>

    <div class="form-group-sm">
        <small>@Html.LabelFor(model => model.empIntno, "Contractor", htmlAttributes: new { @class = "control-label" })</small>
        <div>
            @Html.DropDownListFor(model => model.empIntno, ViewBag.contractorsList as SelectList, string.Empty, htmlAttributes: new { @class = "form-control", onchange = "onClientComboChanged()", @id = "clientCombo", required = "required" })
        </div>
    </div>

    <div class="form-group">
        <small>@Html.LabelFor(model => model.providedService, "Provided ME", htmlAttributes: new { @class = "control-label" })</small>
        <div>
            @Html.EditorFor(model => model.providedService, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        </div>
    </div>

    <div class="form-group-sm">
        <small>@Html.LabelFor(model => model.totalMinutes, "Total Minutes", htmlAttributes: new { @class = "control-label" })</small>
        <div>
            @Html.EditorFor(model => model.totalMinutes, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        </div>
    </div>

    <div class="form-group-sm">
        <small>@Html.LabelFor(model => model.timeRating, "Punctuality Rating", htmlAttributes: new { @class = "control-label" })</small>
        <div>
            @Html.DropDownListFor(model => model.timeRating, ViewBag.ratingsList as SelectList, string.Empty, htmlAttributes: new { @class = "form-control", onchange = "onClientComboChanged()", @id = "clientCombo" })
        </div>
    </div>

    <div class="form-group-sm">
        <small>@Html.LabelFor(model => model.qualityRating, "Quality Rating", htmlAttributes: new { @class = "control-label" })</small>
        <div>
            @Html.DropDownListFor(model => model.qualityRating, ViewBag.ratingsList as SelectList, string.Empty, htmlAttributes: new { @class = "form-control", onchange = "onClientComboChanged()", @id = "clientCombo" })
        </div>
    </div>

    <br />
    <div class="form-group-sm">
        <button type="submit" class="btn btn-default btn-sm pull-left">Submit</button>
        <small><label class="alert-success" id="formResult"></label></small>
    </div>
}
