
@{
    ViewBag.Title = "Dashboards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding:0px">
    <div class="jumbotron" style="padding:5px">
        <h2>Welcome To Executive Dashboards</h2>
        <p class="lead"><h5>Get Up-To-Date Information and Statistics about Major Dubbing Activities reported on Monthly basis and accumlated for a revolving Year span.</h5></p>
    </div>

    <div class="row">
        <div class="col-sm-2">
            @Html.Action("filters")
        </div>
        <div class="col-sm-6">

        </div>
        <div class="col-sm-4" id="worksLog">
            @Html.Action("worksLog")
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-12" id="ordersLog">
            @Html.Action("ordersLog")
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/dubbing/busySpinner.js"></script>

    <script>
        //global ajax callback events handlers
        // to exclude specific ajax call write: "global: false," in the begining of ajax function
        $(document).ajaxStart(function () {
            ajaxIndicatorStart('loading data.. please wait..');
        }).ajaxComplete(function () {
            ajaxIndicatorStop();
        });

        $(document).ready(function () {
            $('#client').change(function () {
                $("#work").empty();
                $("#work").append('<option value="">Select ...</option>');
                $.ajax({
                    url: '@Url.Action("populateWorksCombo", "executiveSummary")',
                    type: 'POST',
                    data: { clientIntno: $('#client').val() },
                    dataType: 'json',
                    success: function (worksList) {
                        $.each(worksList, function (i, item) {
                            $("#work").append('<option value="' + item.Value + '">' +
                            item.Text + '</option>');
                        });
                    }
                });
                return false;
            })
        })

        function onFilterClick() {
            $.ajax({
                url: '@Url.Action("worksLog", "executiveSummary")',
                type: 'GET',
                data: { filterYear: $('#filterYear').val(), filterMonth: $('#filterMonth').val(), clientIntno: $('#client').val(), workIntno: $('#work').val() },
                success: function (result) {
                    $('#worksLog').html(result)
                }
            });
            $.ajax({
                url: '@Url.Action("ordersLog", "executiveSummary")',
                type: 'GET',
                data: { filterYear: $('#filterYear').val(), filterMonth: $('#filterMonth').val(), clientIntno: $('#client').val(), workIntno: $('#work').val() },
                success: function (result) {
                    $('#ordersLog').html(result)
                }
            });
        }

        function onCancelFilterClick() {
            $("#filterYear").empty();
            $("#filterMonth").empty();
            $("#client").val(null);
            $("#work").empty().append('<option value="">Select ...</option>');;
            $.ajax({
                url: '@Url.Action("worksLog", "executiveSummary")',
                type: 'GET',
                data: { filterYear: null, filterMonth: null, clientIntno: null, workIntno: null },
                success: function (result) {
                    $('#worksLog').html(result)
                }
            });
            $.ajax({
                url: '@Url.Action("ordersLog", "executiveSummary")',
                type: 'GET',
                data: { filterYear: null, filterMonth: null, clientIntno: null, workIntno: null },
                success: function (result) {
                    $('#ordersLog').html(result)
                }
            });
        }
    </script>
}