
@{
    ViewBag.Title = "Dashboards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding:0px">
    <div class="jumbotron" style="padding:5px">
        <h2>Welcome To Executive Dashboards</h2>
        <p class="lead"><h5>Get Up-To-Date Information and Statistics about Major Dubbing Activities reported on Monthly basis and accumlated for a revolving Year span.</h5></p>
    </div>

    <div class="row">
        <div class="col-sm-2">
            @Html.Action("filters")
        </div>
        <div class="col-sm-6">
            <canvas id="ordersChart" width="400" height="180"></canvas>
        </div>
        <div class="col-sm-4" id="worksLog">
            @Html.Action("worksLog")
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-12" id="ordersLog">
            @Html.Action("ordersLog")
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/dubbing/busySpinner.js"></script>
    <script src="~/Scripts/dubbing/dubbingCharts.js"></script>
    <script src="~/Scripts/Chart.js"></script>

    <script>
        //global ajax callback events handlers
        // to exclude specific ajax call write: "global: false," in the begining of ajax function
        $(document).ajaxStart(function () {
            ajaxIndicatorStart('loading data.. please wait..');
        }).ajaxComplete(function () {
            ajaxIndicatorStop();
        });

        $(document).ready(function () {
            $('#client').change(function () {
                $("#work").empty();
                $("#work").append('<option value="">Select ...</option>');
                $.ajax({
                    url: '@Url.Action("populateWorksCombo", "executiveSummary")',
                    type: 'POST',
                    data: { clientIntno: $('#client').val() },
                    dataType: 'json',
                    success: function (worksList) {
                        $.each(worksList, function (i, item) {
                            $("#work").append('<option value="' + item.Value + '">' +
                            item.Text + '</option>');
                        });
                    }
                });
                return false;
            });
            $.ajax({
                url: '@Url.Action("ordersChartData", "executiveSummary")',
                type: 'POST',
                dataType: 'json',
                data: { filterYear: null, clientIntno: null, workIntno: null },
                success: function (result) {
                    var xLables = new Array();
                    var totalReceived = new Array();
                    var totalDubbed = new Array();
                    var totalUploaded = new Array();
                    var totalShipped = new Array();
                    $.each(result, function (i, item) {
                        xLables[i] = item.oiMonth;
                        totalReceived[i] = item.totalReceived;
                        totalDubbed[i] = item.totalDubbed;
                        totalUploaded[i] = item.totalUploaded;
                        totalShipped[i] = item.totalShipped;
                    });
                    $('#ordersChart').html(setOrdersChart(xLables, totalReceived, totalDubbed, totalUploaded, totalShipped));
                }
            });
        })

        function filtered(filterYear1, filterMonth1, client1, work1) {
            $.ajax({
                url: '@Url.Action("worksLog", "executiveSummary")',
                type: 'GET',
                data: { filterYear: filterYear1, filterMonth: filterMonth1, clientIntno: client1, workIntno: work1 },
                success: function (result) {
                    $('#worksLog').html(result)
                }
            });
            $.ajax({
                url: '@Url.Action("ordersLog", "executiveSummary")',
                type: 'GET',
                data: { filterYear: filterYear1, filterMonth: filterMonth1, clientIntno: client1, workIntno: work1 },
                success: function (result) {
                    $('#ordersLog').html(result)
                }
            });
            $.ajax({
                url: '@Url.Action("ordersChartData", "executiveSummary")',
                type: 'POST',
                dataType: 'json',
                data: { filterYear: filterYear1, clientIntno: client1, workIntno: work1 },
                success: function (result) {
                    var xLables = new Array();
                    var totalReceived = new Array();
                    var totalDubbed = new Array();
                    var totalUploaded = new Array();
                    var totalShipped = new Array();
                    $.each(result, function (i, item) {
                        xLables[i] = item.oiMonth;
                        totalReceived[i] = item.totalReceived;
                        totalDubbed[i] = item.totalDubbed;
                        totalUploaded[i] = item.totalUploaded;
                        totalShipped[i] = item.totalShipped;
                    });
                    $('#ordersChart').html(setOrdersChart(xLables, totalReceived, totalDubbed, totalUploaded, totalShipped));
                }
            });
        }
        function onFilterClick() {
            filtered($('#filterYear').val(), $('#filterMonth').val(), $('#client').val(), $('#work').val());
        }

        function onCancelFilterClick() {
            $("#filterYear").empty();
            $("#filterMonth").val(null);
            $("#client").val(null);
            $("#work").empty().append('<option value="">Select ...</option>');;
            filtered(null, null, null, null);
        }
    </script>
}