@model dubbingModel.orderCheck

<div class="container-fluid">
    @using (Ajax.BeginForm("orderItemIssueAddNew", "orders", new { id = ViewBag.orderItem },
                                                new AjaxOptions()
                                                {
                                                    HttpMethod = "POST",
                                                    UpdateTargetId = "result"
                                                },
                                                new { @class = "form-horizontal" }
                                                ))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <small>@Html.LabelFor(model => model.checkType, "Issue", htmlAttributes: new { @class = "control-label col-sm-4" })</small>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.checkType, new SelectList(ViewBag.checkTypesList, "key", "value"), string.Empty, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.checkType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <small>@Html.LabelFor(model => model.isAccepted, "Is Accepted", htmlAttributes: new { @class = "control-label col-sm-4" })</small>
            <div class="col-sm-8">
                @Html.CheckBoxFor(model => model.isAccepted, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.isAccepted, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default btn-xs">Submit</button>
                &nbsp;
                <a class="btn btn-default btn-xs" onclick="onIssuesDismissClick(@ViewBag.orderItem)" role="button">Dismiss</a>
                <label class="alert-success" id="result"></label>
            </div>
        </div>
    }
</div>