<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <label>Episodes Selection Card</label>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-xs" onclick="onCloseClick()" title="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            @using (Ajax.BeginForm("scheduleAddNew", "orders",
                            new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "result"
                            },
                            new { @class = "form-horizontal" }
                            ))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("oiListHF")
                @Html.Hidden("scheduleTypeHF")

                <div class="form-group-sm">
                    <ol id="oiCard"></ol>
                </div>
                <br />

                <div>
                    <a href="#" onclick="onScheduleClick('01')">Add to Dubbing Schedule</a><label>|</label>
                    <a href="#" onclick="onScheduleClick('02')">Add to Upload Schedule</a><label>|</label>
                    <a href="#" onclick="onScheduleClick('03')">Add to Shipment Schedule</a><label>|</label>
                    <a href="#" onclick="onTranslationClick('05')">Record Translation Info</a><label>|</label>
                    <a href="#" onclick="onAdaptationClick('04')">Send to Adaptation</a>
                </div>
                <br />

                <div class="form-group-sm" id="adaptors">
                    <label class="alert-warning"><small>For Adaptation, Selected Episodes MUST Belong to ONLY ONE Work</small></label>
                    <label><small>Assigned To</small></label>
                    <span>
                        @Html.DropDownList("adaptor", ViewBag.adaptorsList as SelectList, "Select Personnel ...", htmlAttributes: new { @class = "form-control" })
                    </span>
                </div>
                <div class="form-group-sm" id="translators">
                    <label class="alert-warning"><small>For Translation, Selected Episodes MUST Belong to ONLY ONE Work</small></label>
                    <label><small>Assigned To</small></label>
                    <span>
                        @Html.DropDownList("translator", ViewBag.translatorsList as SelectList, "Select Personnel ...", htmlAttributes: new { @class = "form-control" })
                    </span>
                </div>
                <div class="form-group-sm" id="cardAction">
                    <label><small>Select Date</small></label>
                    <span><input type="date" name="scheduleDate" style="width:140px" /></span>
                    <button type="submit" class="btn btn-default btn-xs" onclick="onListSubmitClick()">Submit</button>
                </div>
                <div class="form-group">
                    <small><label class="alert-success" id="result"></label></small>
                </div>
            }
        </div>
    </div>
</div>
