@model dubbingModel.clientClaim

<div class="container-fluid" style="padding:0px">
    <div class="panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <small>Add New Client Claim</small>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-xs pull-right" onclick="onComplainCloseClick()" title="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            @using (Ajax.BeginForm("orderItemComplainAddNew", "orders", new { id = ViewBag.orderItem },
                                                new AjaxOptions()
                                                {
                                                    HttpMethod = "POST",
                                                    UpdateTargetId = "formResult",
                                                    OnSuccess = "onComplainSuccess(" + ViewBag.orderItem + ")"
                                                }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group-sm">
                    <small>@Html.LabelFor(model => model.receivedDate, "Received Date", htmlAttributes: new { @class = "control-label col-sm-12" })</small>
                    <div class="col-sm-12">
                        <input type="date" name="receivedDate" />
                        @Html.ValidationMessageFor(model => model.receivedDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group-sm">
                    <small>@Html.LabelFor(model => model.claimType, "Media", htmlAttributes: new { @class = "control-label col-sm-12" })</small>
                    <div class="col-sm-12">
                        @Html.DropDownListFor(model => model.claimType, new SelectList(ViewBag.claimTypesList, "key", "value"), string.Empty, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.claimType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group-sm">
                    <small>@Html.LabelFor(model => model.claimRefNo, "Ref. No.", htmlAttributes: new { @class = "control-label col-sm-12" })</small>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.claimRefNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.claimRefNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group-sm">
                    <small>@Html.LabelFor(model => model.claimDesc, "Desc", htmlAttributes: new { @class = "control-label col-sm-12" })</small>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.claimDesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.claimDesc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group-sm">
                    <small>@Html.LabelFor(model => model.refLocation, "Ref. Location", htmlAttributes: new { @class = "control-label col-sm-12" })</small>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.refLocation, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.refLocation, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group-sm">
                    <small>@Html.LabelFor(model => model.requiredAction, "Required Action", htmlAttributes: new { @class = "control-label col-sm-12" })</small>
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.requiredAction, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.requiredAction, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group-sm">
                    <small>@Html.LabelFor(model => model.actionDate, "Action Date", htmlAttributes: new { @class = "control-label col-sm-12" })</small>
                    <div class="col-sm-12">
                        <input type="date" name="actionDate" />
                        @Html.ValidationMessageFor(model => model.actionDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group-sm">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default btn-xs">Submit</button>
                        <label class="alert-success" id="formResult"></label>
                    </div>
                </div>
            }
        </div>
    </div>
</div>