@model IEnumerable<string>

<div class="container-fluid" style="padding:0px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <label>Episode Details</label>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-xs pull-right" onclick="onCloseClick()" title="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding:5px">
            <div class="btn-group" style="padding:10px">
                <button class="btn btn-xs alert-info" onclick="onOrderItemUpdateClick(@ViewBag.orderTrnHdrIntno, 'A')" title="Activate Rejected Episode">Activate</button>
                <button class="btn btn-xs" onclick="onOrderItemUpdateClick(@ViewBag.orderTrnHdrIntno, 'R')" title="Remove Episode from List">Cancel</button>
                <button class="btn btn-xs alert-info" onclick="onOrderItemUpdateClick(@ViewBag.orderTrnHdrIntno, 'P')" title="Increase Priority">Promote</button>
                <button class="btn btn-xs" onclick="onOrderItemUpdateClick(@ViewBag.orderTrnHdrIntno, 'D')" title="Decrease Priority">Demote</button>
            </div>
            <br />
            <table>
                <tbody>
                    @foreach (string item in Model)
                    {
                        if (item == null)
                        {
                            <tr><td>-----------------</td><td>------------------</td></tr>
                        }
                        else
                        {
                            <tr>
                                <td class="col-sm-4"><small><label>@item.Split('|')[0]</label></small></td>
                                <td class="col-sm-8"><small>@item.Split('|')[1]</small></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
