@model IEnumerable<string>

<div class="container-fluid" style="padding:0px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <label>Episode Details</label>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-xs pull-right" onclick="onCloseClick()" title="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="btn-group">
                <button class="btn btn-xs alert-info" onclick="onOrderItemUpdateClick(@ViewBag.orderTrnHdrIntno, 'A')" title="Activate Rejected Episode">Activate</button>
                <button class="btn btn-xs" onclick="onOrderItemUpdateClick(@ViewBag.orderTrnHdrIntno, 'R')" title="Remove Episode from List">Cancel</button>
                <button class="btn btn-xs alert-info" onclick="onOrderItemUpdateClick(@ViewBag.orderTrnHdrIntno, 'P')" title="Increase Priority">Promote</button>
                <button class="btn btn-xs" onclick="onOrderItemUpdateClick(@ViewBag.orderTrnHdrIntno, 'D')" title="Decrease Priority">Demote</button>
            </div>
            <br />
            <dl class="dl-horizontal">
                @foreach (string item in Model)
                {
                    if (item == null)
                    {
                        <dt>&nbsp;</dt><dd>&nbsp;</dd>
                    }
                    else
                    {
                        <dt><small>@item.Split('|')[0]</small></dt>
                        <dd><small>@item.Split('|')[1]</small></dd>
                    }
                }
            </dl>
        </div>
    </div>
</div>
