@{
    ViewBag.Title = "Dubbing Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron" style="padding:5px">
        <h2>Dubbing Orders Management</h2>
        <p class="lead"><h5>Register New Client Orders and Capture initial Quality Check Results. Plan Order Episodes for Dubbing, Upload &amp; Shipment. Register Client Feedback on Uploaded Episodes and Track Corrective Actions.</h5></p>
        <label><a href="#" onclick="onOrderAddNewClick()">Register New Order ...</a></label>
    </div>
    <div class="col-sm-2 container-fluid" style="padding:0px">
        @Html.Hidden("workIntnoHF")
        <p>
            <button class="btn btn-info btn-xs work" value="0" title="Select">
                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
            </button>
            <span class="workLbl" id="w0"><small>New ...</small></span>
        </p>
        @foreach (SelectListItem item in ViewBag.worksList)
        {
            string work = "w" + @item.Value.ToString();
            <p>
                <button class="btn btn-info btn-xs work" value="@item.Value" title="Select">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                </button>
                <span class="workLbl" id="@work"><small>@item.Text</small></span>
            </p>
        }
    </div>
    <div class="col-sm-6 container-fluid" style="padding:0px">
        <div class="row container-fluid" id="epFilters" style="padding:0px; padding-bottom:10px; padding-left:10px">
            <div class="col-sm-4">
                <label><small>Episodes</small></label>
                <span><small><input class="episodeFilter" id="fromEpisode" style="width:30px" /></small>&nbsp;-</span>
                <span><small><input class="episodeFilter" id="thruEpisode" style="width:30px" /></small></span>
            </div>
            <div class="col-sm-8" style="padding:0px">
                <div class="btn-group pull-right">
                    <button class="btn btn-default btn-xs" onclick="onFilterClick()" title="Filter">All</button>&nbsp;
                    <button class="btn btn-primary btn-xs" onclick="onFilterClick('02')" title="Filter">For Dubbing</button>&nbsp;
                    <button class="btn btn-info btn-xs" onclick="onFilterClick('03')" title="Filter">For Upload</button>&nbsp;
                    <button class="btn btn-success btn-xs" onclick="onFilterClick('04')" title="Filter">For Shipment</button>
                    <button class="btn btn-default btn-xs" onclick="onFilterClick('05')" title="Filter">Archive</button>
                </div>
            </div>
        </div>
        <div class="row container-fluid" id="oList" style="padding:0px; padding-bottom:10px; padding-left:10px">
            @Html.Action("orderItemsList", "orders")
        </div>
    </div>
    
    <div class="col-sm-4 container-fluid" style="padding:0px">
        <div id="tips">
            @Html.Action("tips", "orders")
        </div>
        <div id="allDetails"></div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(window).on('load', function () {
                $('#w0').css('background-color', 'silver');
                $('#selectedItemsHF').val(0);
                $('#epFilters').hide();
            })

            $(".work").click(function () {
                $('#fromEpisode').val(null);
                $('#thruEpisode').val(null);
                $('.workLbl').css('background-color', 'white');
                var workIntno = $(this).attr('value');
                var work = 'w' + workIntno;
                $('#' + work).css('background-color', 'silver');

                if (workIntno === '0') {
                    workIntno = null;
                    $('#epFilters').hide();
                }
                else
                {
                    $('#epFilters').show();
                }

                $('#workIntnoHF').val(workIntno);
                $.ajax({
                    url: '@Url.Action("orderItemsList", "orders")',
                    type: 'GET',
                    data: { work: workIntno },
                    success: function (result) {
                        $('#oList').html(result);
                    }
                })
            })

            $('.episodeFilter').change(function () {
                $.ajax({
                    url: '@Url.Action("orderItemsList", "orders")',
                    type: 'GET',
                    data: { work: $('#workIntnoHF').val(), stage: null, fromEpisode: $('#fromEpisode').val(), thruEpisode: $('#thruEpisode').val() },
                    success: function (result) {
                        $('#oList').html(result);
                    }
                })
            })
        })

        function onCloseClick() {
            $('#allDetails').html(null);
            $('#oiCard').val(null);
            $('#tips').fadeIn();
        }
        function onIssueCloseClick() {
            $('#qualityDetails').html(null);
        }
        function onComplainCloseClick() {
            $('#complainDetails').html(null);
        }

        function onClientComboChanged() {
            $("#workCombo").empty();
            $("#workCombo").append('<option value="">Select Work ...</option>');
            $.ajax({
                url: '@Url.Action("clientComboChanged", "orders")',
                type: 'POST',
                data: { client: $('#clientCombo').val() },
                dataType: 'json',
                success: function (works) {
                    $.each(works, function (i, item) {
                        $("#workCombo").append('<option value="' + item.Value + '">' +
                        item.Text + '</option>');
                    });
                }
            })
        }
        function onFilterClick(filter) {
            $('#fromEpisode').val(null);
            $('#thruEpisode').val(null);
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val(), stage: filter },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }

        function onOrderAddNewClick() {
            $('#fromEpisode').val(null);
            $('#thruEpisode').val(null);
            $('#tips').fadeOut();
            $.ajax({
                url: '@Url.Action("orderAddNew", "orders")',
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onSuccess() {
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val() },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }

        function onOrderItemIssueClick(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemIssuesList", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#tips').fadeOut();
                    $('#allDetails').html(result);
                }
            })
        }
        function onOrderItemIssueAddNewClick(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemIssueAddNew", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#qualityDetails').html(result);
                }
            })
        }
        function onOrderItemIssueRemoveClick(chk) {
            if (confirm('Please Confirm! About to Remove the Selected Item from Issues List.')) {
                $.ajax({
                    url: '@Url.Action("orderItemIssueDelete", "orders")',
                    type: 'GET',
                    data: { id: chk },
                    success: function (result) {
                        $('#allDetails').html(result);
                    }
                });
                $.ajax({
                    url: '@Url.Action("orderItemsList", "orders")',
                    type: 'GET',
                    data: { work: $('#workIntnoHF').val() },
                    success: function (result) {
                        $('#oList').html(result);
                    }
                })
            }
        }
        function onIssueSuccess(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemIssuesList", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val() },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }

        function onOrderItemSelectClick(oItem, ep, status) {
            if (status === '03') {
                alert('Rejected Episode CANNOT be Selected for Planning Activities.');
            }
            else {
                var x = '<small>' + ep + '</small>' + '<button class="btn btn-default btn-xs pull-right" onclick="' + "onSelectedItemRemoveClick('" + oItem + "')" + '" title="Remove">'
                            + '<span class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span></button>';
                if (!$('#oiCard').length) {
                    $.ajax({
                        url: '@Url.Action("orderItemSelectList", "orders")',
                        type: 'GET',
                        data: { id: oItem },
                        success: function (result) {
                            $('#tips').fadeOut();
                            $('#allDetails').html(result);
                            $('#scheduleDateCtrl').hide();
                            $('#dueDateCtrl').hide();
                            $('#submitBtn').hide();
                            $('#adaptors').hide();
                            $('#translators').hide();
                            $('#oiCard').append($('<li/>', { id: oItem, html: x }));
                        }
                    })
                }
                else {
                    if (!$('#oiCard li[id=' + oItem + ']').length) {
                        $('#oiCard').append($('<li/>', { id: oItem, html: x }));
                    }
                }
            }
        }
        function onSelectedItemRemoveClick(oItem) {
            $('#oiCard li[id=' + oItem + ']').remove();
        }
        function onListSubmitClick() {
            $('#oiListHF').val(null);
            $('#oiCard li').each(function (index) {
                if ($('#oiListHF').val() === "") {
                    $('#oiListHF').val($(this).attr('id'));
                }
                else {
                    var x = $('#oiListHF').val() + ';' + $(this).attr('id');
                    $('#oiListHF').val(x);
                }
            });
            $('#scheduleDateCtrl').hide();
            $('#dueDateCtrl').hide();
            $('#submitBtn').hide();
            $('#adaptors').hide();
            $('#translators').hide();
        }

        function onScheduleClick(op) {
            $('#scheduleTypeHF').val(op);
            $('#result').html(null);
            $('#scheduleDateCtrl').show();
            $('#dueDateCtrl').hide();
            $('#submitBtn').show();
        }
        function onAdaptationClick(op) {
            $('#scheduleTypeHF').val(op);
            $('#translators').hide();
            $('#adaptors').show();
            $('#result').html(null);
            $('#scheduleDateCtrl').show();
            $('#dueDateCtrl').show();
            $('#submitBtn').show();
        }
        function onTranslationClick(op) {
            $('#scheduleTypeHF').val(op);
            $('#adaptors').hide();
            $('#translators').show();
            $('#result').html(null);
            $('#scheduleDateCtrl').show();
            $('#dueDateCtrl').show();
            $('#submitBtn').show();
        }

        function onOrderItemDetailsClick(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemDetails", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#tips').fadeOut();
                    $('#allDetails').html(result);
                }
            })
        }
        function onOrderItemUpdateClick(oItem, op1) {
            if (confirm('Please Confirm! About to Change the Selected Episode Status.')) {
                $.ajax({
                    url: '@Url.Action("orderItemDetailsUpdate", "orders")',
                    type: 'GET',
                    data: { id: oItem, op: op1 },
                    success: function (result) {
                        $('#allDetails').html(result);
                    }
                })
            }
        }

        function onOrderItemComplainsClick(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemComplainsList", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#tips').fadeOut();
                    $('#allDetails').html(result);
                }
            })
        }
        function onOrderItemComplainAddNewClick(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemComplainAddNew", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#complainDetails').html(result);
                }
            })
        }
        function onComplainSuccess(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemComplainsList", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val() },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }
        function onOrderItemComplainEndorseClick(fb) {
            $.ajax({
                url: '@Url.Action("orderItemComplainEndorse", "orders")',
                type: 'GET',
                data: { id: fb },
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val() },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }
    </script>
}