@{
    ViewBag.Title = "Dubbing Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 jumbotron" style="padding:5px">
            <h2>Dubbing Orders Management</h2>
            <p class="lead"><h5>Register New Client Orders and Capture initial Quality Check Results. Plan Order Episodes for Dubbing, Upload &amp; Shipment. Register Client Feedback on Uploaded Episodes and Track Corrective Actions.</h5></p>
            <label><a href="#" onclick="onOrderAddNewClick()">Register New Order ...</a></label>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-2">
            @Html.Hidden("workIntnoHF")
            <div class="row">
                <p>
                    <a href="#" class="workLbl" id="all" onclick="onWorkSelectClick(null, null, 'all')"><small>All Works</small></a>
                </p>

                @foreach (SelectListItem item in ViewBag.worksList)
                {
                    string work = "w" + @item.Value.ToString();
                    <p>
                        <a href="#" class="workLbl" id="@work" onclick="onWorkSelectClick(@item.Value, null, '@work')"><small>@item.Text</small></a>
                    </p>
                }
            </div>
            <br />
            
            <div class="row">
                <div class="col-sm-12" id="filterSettings" style="padding:0px">
                    @Html.Action("filterSettings", "orders")
                </div>
            </div>
        </div>

        <div class="col-sm-6 container-fluid" style="padding:0px">
            <div id="pipelineFilterSettings">
                @Html.Action("pipelineFilterSettings")
            </div>
            <div id="oList">
                @Html.Action("orderItemsList", "orders", new { epFilter = "01" })
            </div>
        </div>

        <div class="col-sm-4 container-fluid" style="padding:0px">
            <div id="ordersHistory">
                @Html.Action("ordersHistory")
            </div>
            <div id="allDetails"></div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(window).on('load', function () {
                $('#all').css('background-color', 'silver');
                $('#pf01').css('background-color', 'silver');
            });
        })

        function onFindEpisodesClick() {
            $('#allDetails').html(null);
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val(), epFilter: '11', fromEpisode: $('#fromEpisode').val(), thruEpisode: $('#thruEpisode').val() },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }
        function onOrderEpisodesClick(work1, fromEpisode1, thruEpisode1) {
            $('#allDetails').html(null);
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: work1, epFilter: '11', fromEpisode: fromEpisode1, thruEpisode: thruEpisode1 },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }

        function onWorkSelectClick(work1, epFilter1, workLbl) {
            $('#fromEpisode').val(null);
            $('#thruEpisode').val(null);
            $('.workLbl').css('background-color', 'white');
            $('#' + workLbl).css('background-color', 'silver');
            $('#workIntnoHF').val(work1);
            onCloseClick();

            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: work1, epFilter: epFilter1 },
                success: function (result) {
                    $('#oList').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("filterSettings", "orders")',
                type: 'GET',
                data: { work: work1 },
                success: function (result) {
                    $('#filterSettings').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("pipelineFilterSettings", "orders")',
                type: 'GET',
                data: { work: work1 },
                success: function (result) {
                    $('#pipelineFilterSettings').html(result);
                    $('.pipelineFilterItem').css('background-color', 'white');
                    $('#pf01').css('background-color', 'silver');
                }
            });
            $.ajax({
                url: '@Url.Action("ordersHistory", "orders")',
                type: 'GET',
                data: { work: work1 },
                success: function (result) {
                    $('#ordersHistory').html(result);
                }
            });
        }

        function onFilterClick(filter) {
            $('#fromEpisode').val(null);
            $('#thruEpisode').val(null);
            $('#allDetails').html(null);
            $('.pipelineFilterItem').css('background-color', 'white');
            $('#pf' + filter).css('background-color', 'silver');
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val(), epFilter: filter },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }

        function onCloseClick() {
            $('#allDetails').html(null);
            $('#oiCard').val(null);
            $('#ordersHistory').show();
        }
        function onIssueCloseClick() {
            $('#qualityDetails').html(null);
            $('#ordersHistory').show();
        }
        function onComplainCloseClick() {
            $('#complainDetails').html(null);
            $('#ordersHistory').show();
        }

        function onClientComboChanged() {
            $("#workCombo").empty();
            $("#workCombo").append('<option value="">Select Work ...</option>');
            $.ajax({
                url: '@Url.Action("clientComboChanged", "orders")',
                type: 'POST',
                data: { client: $('#clientCombo').val() },
                dataType: 'json',
                success: function (works) {
                    $.each(works, function (i, item) {
                        $("#workCombo").append('<option value="' + item.Value + '">' +
                        item.Text + '</option>');
                    });
                }
            })
        }

        function onOrderAddNewClick() {
            $('#fromEpisode').val(null);
            $('#thruEpisode').val(null);
            $('#ordersHistory').hide();
            $.ajax({
                url: '@Url.Action("orderAddNew", "orders")',
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onSuccess() {
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val() },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }
        function onNewOrderSuccess() {
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val() },
                success: function (result) {
                    $('#oList').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("ordersHistory", "orders")',
                type: 'GET',
                data: { work: null },
                success: function (result) {
                    $('#ordersHistory').html(result);
                }
            });
        }

        function onOrderEndorseClick(ord) {
            if (confirm("Please Confirm! About to Permanently Endorse the Selected Order and its Episodes.")) {
                $.ajax({
                    url: '@Url.Action("endorseOrder", "orders")',
                    type: 'GET',
                    data: { order: ord },
                    success: function (result) {
                        $('#ordersHistory').html(result);
                        $.ajax({
                            url: '@Url.Action("orderItemsList", "orders")',
                            type: 'GET',
                            data: { work: $('#workIntnoHF').val() },
                            success: function (result) {
                                $('#oList').html(result);
                            }
                        });
                    }
                });
            }
        }

        function onOrderItemIssueClick(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemIssuesList", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#ordersHistory').hide();
                    $('#allDetails').html(result);
                }
            })
        }
        function onOrderItemIssueAddNewClick(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemIssueAddNew", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#qualityDetails').html(result);
                }
            })
        }
        function onOrderItemIssueRemoveClick(chk) {
            if (confirm('Please Confirm! About to Remove the Selected Item from Issues List.')) {
                $.ajax({
                    url: '@Url.Action("orderItemIssueDelete", "orders")',
                    type: 'GET',
                    data: { id: chk },
                    success: function (result) {
                        $('#allDetails').html(result);
                    }
                });
                $.ajax({
                    url: '@Url.Action("orderItemsList", "orders")',
                    type: 'GET',
                    data: { work: $('#workIntnoHF').val() },
                    success: function (result) {
                        $('#oList').html(result);
                    }
                })
            }
        }
        function onIssueSuccess(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemIssuesList", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#ordersHistory').hide();
                    $('#allDetails').html(result);
                }
            })
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val() },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }

        function onOrderItemSelectClick(oItem, ep, status) {
            if (status === '03') {
                alert('Rejected Episode CANNOT be Selected for Planning Activities.');
            }
            else {
                $.ajax({
                    url: '@Url.Action("scheduleAddNew", "orders")',
                    type: 'GET',
                    data: { orderItem: oItem, episodeNo: ep },
                    success: function (result) {
                        $('#ordersHistory').hide();
                        $('#allDetails').html(result);
                    }
                })
            }
        }

        function onOrderItemDetailsClick(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemDetails", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#ordersHistory').hide();
                    $('#allDetails').html(result);
                }
            })
        }
        function onOrderItemUpdateClick(oItem, op1) {
            if (confirm('Please Confirm! About to Change the Selected Episode Status.')) {
                $.ajax({
                    url: '@Url.Action("orderItemDetailsUpdate", "orders")',
                    type: 'GET',
                    data: { id: oItem, op: op1 },
                    success: function (result) {
                        $('#ordersHistory').hide();
                        $('#allDetails').html(result);
                    }
                })
            }
        }

        function onOrderItemComplainsClick(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemComplainsList", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#ordersHistory').hide();
                    $('#allDetails').html(result);
                }
            })
        }
        function onOrderItemComplainAddNewClick(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemComplainAddNew", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#complainDetails').html(result);
                }
            })
        }
        function onComplainSuccess(oItem) {
            $.ajax({
                url: '@Url.Action("orderItemComplainsList", "orders")',
                type: 'GET',
                data: { id: oItem },
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val() },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }
        function onOrderItemComplainEndorseClick(fb) {
            $.ajax({
                url: '@Url.Action("orderItemComplainEndorse", "orders")',
                type: 'GET',
                data: { id: fb },
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
            $.ajax({
                url: '@Url.Action("orderItemsList", "orders")',
                type: 'GET',
                data: { work: $('#workIntnoHF').val() },
                success: function (result) {
                    $('#oList').html(result);
                }
            })
        }

        function onScheduleDateChange(fdw){
            var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            var d = days[(new Date($('#dubbingDateCtrl').val())).getDay()];
            if(d !== fdw) {
                alert('Dubbing Schedule MUST start on ' + fdw + ', As per the System Settings. Please Modify.')
            }
        }
    </script>
}