@model IEnumerable<string>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>Contract History</label>
        </div>
        <div class="panel-body">
            <table>
                @foreach (string item in Model)
                {
                    <tr>
                        <td class="col-sm-6">
                            <label><small>@item.Split('|')[0]</small></label>
                        </td>
                        <td class="col-sm-6">
                            <small>@item.Split('|')[1]</small>
                        </td>
                    </tr>
                }
            </table>
            <div class="row">
                <div class="btn-group col-sm-offset-2" style="padding-top:10px;">
                    <button class="btn btn-danger btn-xs" onclick="onContractChangeStatusClick(@ViewBag.workIntno, '04')">Cancel</button>&nbsp;
                    <button class="btn btn-success btn-xs" onclick="onContractChangeStatusClick(@ViewBag.workIntno, '03')">Endorse</button>&nbsp;
                    <button class="btn btn-info btn-xs" onclick="onContractChangeStatusClick(@ViewBag.workIntno, '02')">Suspend</button>
                    <button class="btn btn-default btn-xs" onclick="onContractChangeStatusClick(@ViewBag.workIntno, '01')">Activate</button>
                </div>
            </div>
        </div>
    </div>
</div>
