@model dubbingModel.contact

<div>
    <dl class="dl-horizontal">
        <dt>
            <small>Salutation</small>
        </dt>

        <dd>
            <small>@Html.DisplayFor(model => model.salutation)</small>
        </dd>

        <dt>
            <small>Name</small>
        </dt>

        <dd>
            <small>@Html.DisplayFor(model => model.contactName)</small>
        </dd>

        <dt>
            <small>Other Name</small>
        </dt>

        <dd>
            <small>@Html.DisplayFor(model => model.othContactName)</small>
        </dd>

        <dt>
            <small>Title</small>
        </dt>

        <dd>
            <small>@Html.DisplayFor(model => model.contactTitle)</small>
        </dd>

        <dt>
            <small>Phone</small>
        </dt>

        <dd>
            <small>@Html.DisplayFor(model => model.contactPhoneNbr)</small>
        </dd>

        <dt>
            <small>email</small>
        </dt>

        <dd>
            <small>@Html.DisplayFor(model => model.contactEmailAddr)</small>
        </dd>

        <dt>
            <small>Mailing Address</small>
        </dt>

        <dd>
            <small>@Html.DisplayFor(model => model.mailingAddr)</small>
        </dd>

        <dt>
            <small>Remarks</small>
        </dt>

        <dd>
            <small>@Html.DisplayFor(model => model.remarks)</small>
        </dd>
    </dl>
</div>
