@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron" style="padding:5px">
        <h2>Dubbing Contracts</h2>
        <p class="lead"><h5>Define and Manage Clients, Agreements and Contracts. Allocate personnel and main work characters at the very early stage when studying the newly contracted work. Get details about each contracted work status and received orders.</h5></p>
        <label><a href="javascript:onContractAddNewClick()">Add New Contract ...</a></label>
    </div>

    <div class="row">
        <div class="col-sm-2" style="padding-right:0px">
            @Html.Action("filters")
        </div>
        
        <div class="col-sm-6" id="cList">
            @Html.Action("contractsList", "contracts", new { status = "01" })
        </div>
        <div class="col-sm-4" style="padding-left:0px">
            <div id="ordersHistory">
                @Html.Action("ordersHistory", new { workStatus = "01" })
            </div>
            <div id="allDetails"></div>
            <div id="pDetails"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="popupForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modalClose" data-dismiss="modal">&times;</button>
                <div class="modal-title" id="popupFormHeader">Client Contact</div>
            </div>
            <div class="modal-body" id="popupFormBody">
                
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            document.saveData = function (client1, agreement1) {
                if (!sessionStorage)
                    return;
                var data = {
                    client: client1,
                    agreement: agreement1,
                    html: $("#cList").html(),
                    ord: $("#ordersHistory").html(),
                    dtl: $("#allDetails").html()
                };
                sessionStorage.setItem("contracts_html", JSON.stringify(data));
            };
            document.restoreData = function () {
                if (!sessionStorage)
                    return;
                var data = sessionStorage.getItem("contracts_html");
                if (!data)
                    return null;
                return JSON.parse(data);
            };
            $(window).on('load', function () {
                var data = document.restoreData();
                if (data) {
                    $("#cList").html(data.html);
                    $("#ordersHistory").html(data.ord);
                    $("#allDetails").html(data.dtl);
                    $('#clientsList').prop('selected', false).filter(function () {
                        return $(this).val(data.client);
                    }).prop('selected', true);
                    $('#agreementsList').prop('selected', false).filter(function () {
                        return $(this).val(data.agreement);
                    }).prop('selected', true);
                    sessionStorage.clear();
                }
            });

            $('#clientsList').change(function ()
            {
                $('#workStatus').val('01');
                $('#workType').val(null);
                $("#agreementsList").empty();
                $("#agreementsList").append('<option value="">Select Agreement ...</option>');
                $.ajax({
                    url: '@Url.Action("populateAgreementsListCombo", "contracts")',
                    type: 'POST',
                    data: { id: $('#clientsList').val() },
                    dataType: 'json',
                    success: function (agreements) {
                        $.each(agreements, function (i, item) {
                            $("#agreementsList").append('<option value="' + item.Value + '">' +
                            item.Text + '</option>');
                        });

                        $.ajax({
                            url: '@Url.Action("contractsList", "contracts")',
                            type: 'GET',
                            data: { client: $('#clientsList').val(), agreement: null, status: '01' },
                            success: function (result) {
                                $('#cList').html(result);
                            }
                        });

                        $.ajax({
                            url: '@Url.Action("ordersHistory", "contracts")',
                            type: 'GET',
                            data: { client: $('#clientsList').val() },
                            success: function (result) {
                                $('#ordersHistory').html(result);
                            }
                        });
                    }
                });
                return false;
            })

            $('#agreementsList').change(function () {
                $('#workStatus').val('01');
                $('#workType').val(null);
                $.ajax({
                    url: '@Url.Action("agreementChanged", "contracts")',
                    type: 'POST',
                    data: { id: $('#agreementsList').val() },
                    dataType: 'json',
                    success: function (client1) {
                        $('#clientsList').prop('selected', false).filter(function () {
                            return $(this).val(client1);
                        }).prop('selected', true);
                    }
                });
                $.ajax({
                    url: '@Url.Action("contractsList", "contracts")',
                    type: 'GET',
                    data: { client: $('#clientsList').val(), agreement: $('#agreementsList').val(), status: '01' },
                    success: function (result) {
                        $('#cList').html(result);
                    }
                });
            })
        })

        function onCloseClick() {
            $('#allDetails').html(null);
            $('#pDetails').html(null);
            $('#ordersHistory').show();
        }

        function onNavigateAway() {
            document.saveData($('#clientsList').val(), $('#agreementsList').val());
        }

        function onClientAddNewClick() {
            $('#ordersHistory').hide();
            $.ajax({
                url: '@Url.Action("clientAddNew", "contracts")',
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onClientUpdateClick() {
            var client = $('#clientsList').val();
            if (client === "") {
                alert("Please Select a Client from the List.")
                return false;
            }
            else {
                $('#ordersHistory').hide();
                $.ajax({
                    url: '@Url.Action("clientUpdate", "contracts")',
                    type: 'GET',
                    data: { id: client },
                    success: function (result) {
                        $('#allDetails').html(result);
                    }
                })
            }
        }
        function onClientContactsClick() {
            var c = $('#clientsList').val();
            if (c === "") {
                alert("Please Select a Client from the List.")
                return false;
            }
            else {
                onNavigateAway();
                window.location.href = "/clientContacts/Index?client=" + c;
            }
        }
        function onWorkClientContactClick(work1) {
            $.ajax({
                url: '@Url.Action("workContact", "contracts")',
                type: 'GET',
                data: { work: work1 },
                success: function (contact) {
                    $('#popupFormBody').html(contact);
                }
            })
        }

        function onAgreementAddNewClick() {
            $('#ordersHistory').hide();
            $.ajax({
                url: '@Url.Action("agreementAddNew", "contracts")',
                type: 'GET',
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onAgreementUpdateClick() {
            var agr = $('#agreementsList').val();
            if (agr === "") {
                alert("Please Select An Agreement from the List.")
                return false;
            }
            else {
                $('#ordersHistory').hide();
                $.ajax({
                    url: '@Url.Action("agreementUpdate", "contracts")',
                    type: 'GET',
                    data: { id: agr },
                    success: function (result) {
                        $('#allDetails').html(result);
                    }
                })
            }
        }
        function onAgreementsClick() {
            var agr = $('#agreementsList').val();
            if (agr === "") {
                alert("Please Select an Agreement from the List.")
                return false;
            }
            else {
                onNavigateAway();
                window.location.href = "/agreements/Index?id=" + agr;
            }
        }

        function onContractAddNewClick() {
            var x = $('#clientsList').val();
            if (x === "") {
                alert("Please Select a Client from the List.")
                return false;
            }
            else {
                $('#ordersHistory').hide();
                $.ajax({
                    url: '@Url.Action("contractAddNew", "contracts")',
                    type: 'GET',
                    data: {client: x},
                    success: function (result) {
                        $('#allDetails').html(result);
                    }
                })
            }
        }
        function onContractUpdateClick(contract) {
            $('#ordersHistory').hide();
            $.ajax({
                url: '@Url.Action("contractUpdate", "contracts")',
                type: 'GET',
                data: { id: contract },
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onContractChangeStatusClick(wrk, st) {
            if (confirm('Please Confirm! About to Modify the Status of the selected Contract and will be MOVED to the corresponding Repository.')) {
                $.ajax({
                    url: '@Url.Action("contractStatusChange", "contracts")',
                    type: 'GET',
                    data: { client: $('#clientsList').val(), agreement: $('#agreementsList').val(), work: wrk, newStatus: st },
                    success: function (result) {
                        $('#cList').html(result);
                        $('#workStatus').prop('selected', false).filter(function () {
                            return $(this).val('01');
                        }).prop('selected', true);
                        $('#allDetails').html(null);
                        $('#ordersHistory').show();
                    }
                })
            }
        }

        function onStudioClick(work) {
            $('#ordersHistory').hide();
            $.ajax({
                url: '@Url.Action("teamList", "contracts")',
                type: 'GET',
                data: { id: work },
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onPersonnelAddNewClick(work) {
            $('#ordersHistory').hide();
            $.ajax({
                url: '@Url.Action("teamAddNew", "contracts")',
                type: 'GET',
                data: { id: work },
                success: function (result) {
                    $('#pDetails').html(result);
                }
            })
        }
        function onTitlesComboChanged() {
            $("#personnelCombo").empty();
            $("#personnelCombo").append('<option value="">Select Personnel ...</option>');
            $.ajax({
                url: '@Url.Action("titlesComboChanged", "contracts")',
                type: 'POST',
                data: { title: $('#titlesCombo').val() },
                dataType: 'json',
                success: function (personnel) {
                    $.each(personnel, function (i, item) {
                        $("#personnelCombo").append('<option value="' + item.Value + '">' +
                        item.Text + '</option>');
                    });
                }
            })
        }
        function onPersonnelDeleteClick(person) {
            if (confirm('Please Confirm! About to Delete the Selected Item.')) {
                $.ajax({
                    url: '@Url.Action("teamDelete", "contracts")',
                    type: 'GET',
                    data: { id: person },
                    success: function (result) {
                        $('#allDetails').html(result);
                    }
                })
            }
        }
        function onTeamSuccess(work) {
            $('#pDetails').html(null);
            $.ajax({
                url: '@Url.Action("teamList", "contracts")',
                type: 'GET',
                data: { id: work },
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }
        function onNewPersonnelCloseClick() {
            $('#pDetails').html(null);
        }
        function onClientAddNewSuccess(ajaxContext) {
            $("#clientsList").empty();
            $("#clientsList").append('<option value="">Select Client ...</option>');
            $.each(ajaxContext, function (i, item) {
                $("#clientsList").append('<option value="' + item.Value + '">' +
                item.Text + '</option>');
            });
            $('#formResult').html('Successfully Created.');
        }
        function onAgreementAddNewSuccess(ajaxContext) {
            $("#agreementsList").empty();
            $("#agreementsList").append('<option value="">Select Agreement ...</option>');
            $.each(ajaxContext, function (i, item) {
                $("#agreementsList").append('<option value="' + item.Value + '">' +
                item.Text + '</option>');
            });
            $('#formResult').html('Successfully Created.');
        }
        function onFailure(ajaxContext) {
            $('#result').html('Failed! Please Correct All Data.');
        }
        function onWorkSuccess() {
            var x = $('#clientsList').val();
            $.ajax({
                url: '@Url.Action("contractsList", "contracts")',
                type: 'GET',
                data: { client: x, agreement: null, status: '01' },
                success: function (result) {
                    $('#cList').html(result);
                }
            });
        }

        function onCastingClick(work) {
            onNavigateAway();
            window.location.href = "/casting/Index?work=" + work;
        }

        function onWorkHistoryClick(work1) {
            $('#ordersHistory').hide();
            $.ajax({
                url: '@Url.Action("ordersHistory", "contracts")',
                type: 'GET',
                data: { work: work1 },
                success: function (result) {
                    $('#allDetails').html(result);
                }
            })
        }

        function onContractFilterChange() {
            $.ajax({
                url: '@Url.Action("contractsList", "contracts")',
                type: 'GET',
                data: { client: $('#clientsList').val(), agreement: $('#agreementsList').val(), status: $('#workStatus').val(), workType: $('#workType').val() },
                success: function (result) {
                    $('#cList').html(result);
                }
            });
        }
    </script>
}