<div class="container-fluid" style="padding:0px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <label><small>Work Dubbing Calendars</small></label>
                </div>

                <div class="col-sm-2 pull-right">
                    <button class="btn btn-default btn-xs" onclick="onCloseClick()" title="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            @{
                SelectList studiosList = new SelectList(ViewBag.studiosList, "studioIntno", "studioNo");
                if (studiosList.Count() == 0)
                {
                    <label><small>No Calendar is Generated for The Dubbing Work</small></label>
                    <div class="col-sm-12" style="text-align:center">
                        <button class="btn btn-default btn-xs" onclick="onCalendarReloadClick(@ViewBag.work, @ViewBag.schedule)">Generate</button>
                    </div>
                }
                else
                {
                    <label><small>Calendar is Already Generated for The Below Studios</small></label>
                }
                foreach (SelectListItem item in studiosList)
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <small>Studio @item.Text</small>
                        </div>
                        <div class="col-sm-6 pull-right">
                            <button class="btn btn-default btn-xs" onclick="onCalendarReloadClick(@ViewBag.work, @ViewBag.schedule, @item.Value)" title="Reload Calendar">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                }
            }
            <br />
            <div class="col-sm-12" style="text-align:center">
                <small><label class="alert-success" id="result"></label></small>
            </div>
        </div>
    </div>
</div>
