@{
    ViewBag.Title = "Scheduling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron" style="padding:5px">
        <h2>Dubbing Scheduling</h2>
        <p class="lead"><h5>Manage Dubbing Scheduling Through Allocating the Different Resources, Studios &amp; Studio Teams, to Perform the Dubbing on Planned Episodes.</h5></p>
        <label><a href="#" onclick="onSchedulesAddNewClick()">Create New Schedule ...</a></label>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-2" id="stdList"></div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2" id="schList">
            @Html.Action("schedulesList", "scheduling")
        </div>

        <div class="col-md-6" id="epList"></div>
        <div class="col-md-4" id="details"></div>
    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(".schedule").click(function () {
                $('.schedule').css('background-color', 'white');
                var id = $(this).attr('id');
                $('#' + id).css('background-color', 'silver');
            })
        })

        function onSchedulesAddNewClick() {
            $.ajax({
                url: '@Url.Action("schedulesAddNew", "scheduling")',
                type: 'GET',
                success: function (result) {
                    $('#details').html(result);
                }
            })
        }
        function onScheduleChangeClick(sch1, op1) {
            if (confirm("Please Confirm! About to Process the Selected Schedule.")) {
                $.ajax({
                    url: '@Url.Action("scheduleChange", "scheduling")',
                    data: { sch: sch1, op: op1 },
                    type: 'GET',
                    success: function (result) {
                        if (op1 === '03') {
                            $('#details').html(null);
                            $('#epList').html(null);
                            $('#schList').html(result);
                        }
                        else {
                            $('#epList').html(result);
                        }
                    }
                });
                $.ajax({
                    url: '@Url.Action("scheduleDetails", "scheduling")',
                    data: { sch: sch1 },
                    type: 'GET',
                    success: function (result) {
                        $('#details').html(result);
                    }
                });
            }
        }
        function onScheduleSuccess() {
            $.ajax({
                url: '@Url.Action("schedulesList", "scheduling")',
                type: 'GET',
                success: function (result) {
                    $('#schList').html(result);
                }
            });
            $('#details').html(null);
        }
        function onScheduleFailure() {
            $('#result').html("Failed! Please Provide Starting Date which Conforms to System Settings and is NOT Already Scheduled.");
        }
        function onScheduleSelectClick(sch1) {
            $.ajax({
                url: '@Url.Action("episodesList", "scheduling")',
                type: 'GET',
                data: { sch: sch1 },
                success: function (result) {
                    $('#epList').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("scheduleDetails", "scheduling")',
                type: 'GET',
                data: { sch: sch1 },
                success: function (result) {
                    $('#details').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("studiosList", "scheduling")',
                type: 'GET',
                data: { sch: sch1 },
                success: function (result) {
                    $('#stdList').html(result);
                }
            })
        }

        function onCloseClick(section) {
            var x = '#' + section;
            $(x).html(null);
            $('#details').html(null);
        }

        function onEpisodeBtnClick(ep) {
            if (confirm("Please Confirm! About to Remove the Episode from Schedule.")) {
                $.ajax({
                    url: '@Url.Action("episodesDelete", "scheduling")',
                    type: 'GET',
                    data: { id: ep },
                    success: function (result) {
                        $('#epList').html(result);
                    },
                    error: function (result) {
                        alert("Episode CANNOT be Removed from Schedule. It is Already Allocated to Studio.");
                    }
                });
            }
        }

        function onStudioUpdateClick(std) {
            $.ajax({
                url: '@Url.Action("studiosUpdate", "scheduling")',
                type: 'GET',
                data: { id: std },
                success: function (result) {
                    $('#details').html(result);
                }
            });
        }
        function onStudiosUpdateSuccess(ajaxContext) {
            $('#stdList').html(ajaxContext);
            $('#result').html("Successfully Updated.");
        }
        function onStudiosUpdateFailure() {
            $('#result').html("Failed! Please Correct All Data.");
        }

        function onWorkAllocateClick(work1, sch1) {
            $.ajax({
                url: '@Url.Action("allocateWorkToStudio", "scheduling")',
                type: 'GET',
                data: { work: work1, sch: sch1 },
                success: function (result) {
                    $('#details').html(result);
                }
            });
        }
        function onDefaultAllocateClick() {
            $('#allocationForm').submit();
        }
        function onAllocationSuccess(ajaxContext) {
            $('#epList').html(ajaxContext);
            $('#result').html("Successfully Allocated.");
        }
        function onAllocationFailure(ajaxContext) {
            $('#result').html(ajaxContext);
        }

        function onWorkAllocationRemoveClick(id1, sch1)
        {
            if (confirm("Please Confirm! About to Remove Scheduled Work from Studio.")) {
                $.ajax({
                    url: '@Url.Action("workAllocationDelete", "scheduling")',
                    type: 'GET',
                    data: { id: id1 },
                    success: function (result) {
                        $('#details').html(result);
                        $.ajax({
                            url: '@Url.Action("episodesList", "scheduling")',
                            type: 'GET',
                            data: { sch: sch1 },
                            success: function (result) {
                                $('#epList').html(result);
                            }
                        });
                    },
                    error: function(ajaxContext) {
                        alert(ajaxContext.statusText);
                    }
                })
            }
        }

        function onWorkCalendarClick(work1, schedule1) {
            $.ajax({
                url: '@Url.Action("workCalendar", "scheduling")',
                type: 'GET',
                data: { work: work1, schedule: schedule1 },
                success: function (result) {
                    $('#details').html(result);
                }
            });
        }
        function onCalendarReloadClick(work1, schedule1, studio1) {
            $.ajax({
                url: '@Url.Action("generateCalendar", "scheduling")',
                type: 'GET',
                data: { work: work1, schedule: schedule1, studio: studio1 },
                success: function (result) {
                    $('#details').html(result);
                    $('#result').html("Successfully Generated / Reloaded Actors' Appointments Draft.");
                },
                error: function(){
                    $('#result').html("Failed! Unable to Generated / Reloaded Actors' Appointments Draft.");
                }
            });
        }
        
    </script>
}