@{
    ViewBag.Title = "Access Rights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron" style="padding:5px">
        <h2>Access Rights</h2>
        <p class="lead"><h5>Maintain Users List and their Access Rights through Assigning Users to Predefined Roles.</h5></p>
        <p><a href="#" class="btn btn-primary" onclick="onNewUserClick()">Register New User &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-sm-3" id="rolesList">
            <div class="container-fluid" style="padding:0px">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-12">
                                <small><label>Users</label></small>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" style="padding:5px">
                        <ul>
                            <li><a href="#" onclick="onFilterClick('01', null)"><small>All ...</small></a></li>
                            <li><a href="#" onclick="onFilterClick('02', null)"><small>Un Authenticated</small></a></li>
                            <li><a href="#" onclick="onFilterClick('03', null)"><small>Un Authorized</small></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            @Html.Action("rolesList", "accessRights")
        </div>
        <div class="col-sm-6" id="usersInRoleList"></div>
        <div class="col-sm-3" id="userDetails"></div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function onFilterClick(filterType1, role1) {
            $('.roleLbl').removeClass('badge');
            $('#' + role1).addClass('badge');
            $('#userDetails').html(null);
            
            $.ajax({
                url: '@Url.Action("usersInRoleList", "accessRights")',
                type: 'GET',
                data: { filterType: filterType1, role: role1 },
                success: function (result) {
                    $('#usersInRoleList').html(result);
                }
            })
        }

        function onGrantUserClick(role1) {
            $.ajax({
                url: '@Url.Action("grantRoleToUser", "accessRights")',
                type: 'GET',
                data: { role: role1 },
                success: function (result) {
                    $('#userDetails').html(result);
                }
            })
        }

        function onRevokeUserClick(user1, role1) {
            if (confirm('Please Confirm! About to Revoke Role from the Selected User.')) {
                $.ajax({
                    url: '@Url.Action("revokeRoleFromUser", "accessRights")',
                    type: 'GET',
                    data: { user: user1, role: role1 },
                    success: function (result) {
                        $('#usersInRoleList').html(result);
                    }
                })
            }
        }

        function onNewUserClick() {
            $.ajax({
                url: '@Url.Action("usersAddNew", "accessRights")',
                type: 'GET',
                success: function (result) {
                    $('#userDetails').html(result);
                }
            })
        }

        function onUserClick(user1, role1) {
            $.ajax({
                url: '@Url.Action("usersUpdate", "accessRights")',
                type: 'GET',
                data: { user: user1, role: role1 },
                success: function (result) {
                    $('#userDetails').html(result);
                }
            })
        }

        function onSubmitClick(e) {
            if(!confirm('Please Confirm! About to make Changes to User.'))
            {
                e.preventDefault();
            }
        }

        function onCloseClick() {
            $('#userDetails').html(null);
        }
        function onSuccess(role) {
            if (role === '')
            {
                role = null;
            }
            onRoleClick(role, false);
        }
    </script>
}