@model IEnumerable<dubbingModel.dubbingSheetDtl>

@if (Model.Count() != 0)
{
    <div class="container-fluid" style="padding:0px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-11"><label class="badge">Payments Due List</label></div>
                    <div class="col-sm-1">
                        <button class="btn btn-default btn-xs pull-right" onclick="onPaymentsDueRefreshClick()" title="Refresh">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th><small>Actor</small></th>
                            <th><small>Work</small></th>
                            <th><small>Dubbing Date</small></th>
                            <th><small>Scenes</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rsc in Model.Select(b => new { b.dubbingSheetHdr.voiceActorIntno, b.dubbingSheetHdr.actorName, b.orderTrnHdr.workIntno, b.orderTrnHdr.agreementWork.workName }).Distinct())
                        {
                            var x = Model.Where(b => b.dubbingSheetHdr.voiceActorIntno == rsc.voiceActorIntno && b.dubbingSheetHdr.actorName == rsc.actorName && b.orderTrnHdr.workIntno == rsc.workIntno)
                                    .Select(b => new { b.dubbingDate }).Distinct();
                            int r = x.Count() + 1;

                            <tr>
                                <td rowspan="@r">
                                    <button class="btn btn-default btn-xs" onclick="onGeneratePaymentClick(@rsc.workIntno, '@rsc.workName', @rsc.voiceActorIntno, '@rsc.actorName')" title="Generate Payment">
                                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                                    </button>
                                    &nbsp;
                                    <small><label>@rsc.actorName</label></small>
                                </td>
                                <td rowspan="@r"><small>@rsc.workName</small></td>
                            </tr>

                            foreach (var x1 in x)
                            {
                                var x2 = Model.Where(b => b.dubbingSheetHdr.voiceActorIntno == rsc.voiceActorIntno && b.dubbingSheetHdr.actorName == rsc.actorName && b.orderTrnHdr.workIntno == rsc.workIntno && b.dubbingDate == x1.dubbingDate);
                                string dubbingDate = x1.dubbingDate.HasValue ? x1.dubbingDate.Value.DayOfWeek + ", " + x1.dubbingDate.Value.ToString("dd/MM") : null;
                                <tr>
                                    <td><small>@dubbingDate</small></td>
                                    <td><small>@x2.Count()</small></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}