@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron" style="padding:5px">
        <h2>Payments</h2>
        <p class="lead"><h5>Given the List of Performed Casting / Assignments, Payment Vouchers can be "Generated" (One Voucher Per Dubbing Work), They Can be "Endorsed" (at Payment Time), and Finally They Can be "Exported" to the Accounting System.</h5></p>
        <p><a class="btn btn-primary" href="#">Export Paid Vouchers &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-sm-3" id="actorsList">
            @Html.Action("actorsList", "payment")
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12" id="paymentsDueList"></div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="paymentsList"></div>
            </div>
        </div>
        <div class="col-sm-3" id="details"></div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            
        });

        function onActorSelectClick(id1, name1, idx) {
            $('.actorMenu').css('background-color', 'white');
            $('#' + idx).css('background-color', 'silver');
            $.ajax({
                url: '@Url.Action("paymentsDueList", "payment")',
                data: { id: id1, name: name1 },
                type: 'GET',
                success: function (result) {
                    $('#paymentsDueList').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("paymentsList", "payment")',
                data: { id: id1, name: name1 },
                type: 'GET',
                success: function (result) {
                    $('#paymentsList').html(result);
                }
            })
        }

        function onGeneratePaymentClick(id1, name1) {
            if (confirm("Please Confirm! About to Generate All Related Payments.")) {
                $.ajax({
                    url: '@Url.Action("paymentsAddNew", "payment")',
                    data: { id: id1, name: name1 },
                    type: 'GET',
                    success: function (result) {
                        $('#paymentsList').html(result);
                    }
                })
            }
        }

        function onPaymentsDueRefreshClick(id1, name1) {
            $.ajax({
                url: '@Url.Action("paymentsDueList", "payment")',
                data: { id: id1, name: name1 },
                type: 'GET',
                success: function (result) {
                    $('#paymentsDueList').html(result);
                }
            });
        }

        function onPaymentUpdateClick(id1) {
            $.ajax({
                url: '@Url.Action("paymentsUpdate", "payment")',
                data: { id: id1 },
                type: 'GET',
                success: function (result) {
                    $('#details').html(result);
                }
            })
        }
        function onPaymentSuccess(id1, name1) {
            $.ajax({
                url: '@Url.Action("paymentsDueList", "payment")',
                data: { id: id1, name: name1 },
                type: 'GET',
                success: function (result) {
                    $('#paymentsDueList').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("paymentsList", "payment")',
                data: { id: id1, name: name1 },
                type: 'GET',
                success: function (result) {
                    $('#paymentsList').html(result);
                }
            })
        }
        function onCloseClick() {
            $('#details').html(null);
        }
    </script>
}