@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="main">
    <div class="jumbotron hidden-print" style="padding:5px">
        <h2>Payments</h2>
        <p class="lead"><h5>Given the List of Performed Casting / Assignments, Payment Vouchers can be "Generated" (One Voucher Per Dubbing Work), They Can be "Endorsed" (at Payment Time), and Finally They Can be "Exported" to the Accounting System.</h5></p>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12 print-visible-block" id="paymentsDueList">
                    @Html.Action("paymentsDueList", "payment")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="paidVouchersList"></div>
            </div>
        </div>
        <div class="col-sm-3 hidden-print">
            <div>
                <p>
                    <a class="btn btn-primary" href="#" onclick="onPaymentsDueClick()">&laquo; Show Payments Due</a>
                </p>
                <p>
                    <a class="btn btn-success" href="#" onclick="onPaidVouchersClick()">&laquo; Show Paid Vouchers</a>
                </p>
                <p>
                    <a class="btn btn-info" id="exportBtn" href="#" onclick="onExportClick()">&laquo; Export All to Excel ...</a>
                </p>
            </div>
            <br />
            <div id="details"></div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#paidVouchersList').hide();
            $('#exportBtn').hide();
            $('#paymentsDueList').show();
        });
        $(document).on('submit', function () {
            $('#submitBtn').attr('disabled', 'true');
        });

        $(document).on("keypress", ":input:not(textarea)", function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });

        function onGeneratePaymentClick(wId, wName, id1, name1) {
            if (confirm("Please Confirm! About to Generate Payment Voucher.")) {
                $.ajax({
                    url: '@Url.Action("paymentsAddNew", "payment")',
                    data: { workIntno: wId, workName: wName, rscId: id1, rscName: name1 },
                    type: 'GET',
                    success: function (result) {
                        $('#details').html(result);
                    }
                })
            }
        }

        function onVoucherChange() {
            $('#totalAmount1').val($('#totalScenes1').val() * $('#unitRate1').val() - $('#deduction1').val());
        }

        function onPaymentsDueRefreshClick() {
            $.ajax({
                url: '@Url.Action("paymentsDueList", "payment")',
                type: 'GET',
                success: function (result) {
                    $('#paymentsDueList').html(result);
                }
            });
        }

        function onExportClick() {
            $.ajax({
                url: '@Url.Action("exportToExcel", "payment")',
                type: 'GET',
                success: function (result) {
                    alert("Vouchers Successfully Exported to Excel.");
                }
            });
        }

        function onSuccess() {
            $('#formResult').html('Successfully Created.');
        }
        function onFailure() {
            $('#formResult').html('Failed to Generate Voucher. Please enter all Data and then retry.');
            $('#submitBtn').attr('disabled', 'false');
        }
        function onCloseClick() {
            $('#details').html(null);
        }

        function onPaidVouchersClick() {
            $('#details').html(null);
            $('#exportBtn').show();
            $('#paymentsDueList').hide();
            $.ajax({
                url: '@Url.Action("paidVouchersList", "payment")',
                type: 'GET',
                success: function (result) {
                    $('#paidVouchersList').html(result);
                }
            });
            $('#paidVouchersList').show();
        }
        function onPaymentsDueClick() {
            $('#details').html(null);
            $('#exportBtn').hide();
            $('#paidVouchersList').html(null);
            $('#paidVouchersList').hide();
            $('#paymentsDueList').show();
        }

        function onPrintClick(id, name) {
            $.ajax({
                url: '@Url.Action("printVouchersList", "payment")',
                type: 'GET',
                data: { actorId: id, actorName: name },
                success: function (result) {
                    $('#paidVouchersList').html(result);
                }
            });
        }
    </script>
}